.application-details {

    &__page-title,
    &__title {
        margin-bottom: 1.71rem;
    }

    &__title {

        @include breakpoint(mobile-max) {
            margin-bottom: 2.28rem;
        }

        &-box {
            margin-bottom: 1.71rem;

            @include breakpoint(mobile-max) {
                margin-bottom: 2.28rem;
            }
        }

        &-text {
            
            @include breakpoint(ipad-max) {
                margin-bottom: 1.71rem;
            }

            .block-fourthtitle {
                margin-bottom: 0.57rem;
            }
        }

        &-btn {
            display: flex;
            flex-wrap: wrap;
            
            @include breakpoint(desktop-min) {                
                align-items: flex-end;
                justify-content: flex-end;
            }

            .btn+.btn {
                margin-left: 1.71rem;
                @include  breakpoint(desktop-max) {
                    margin-left: 0.57rem;
                }
                @include breakpoint(mobile-max) {
                    margin-left: 0;
                }
            }
            
            &-decline {
                @include breakpoint(mobile-max) {
                    width: 49%;
                    order: 2;
                }
            }
            
            &-message  {
                @include breakpoint(mobile-max) {
                    width: 49%;
                    order: 3;
                    margin-left: 2% !important;
                }
            }
            

            &-accept-applicant {
                @include breakpoint(mobile-max) {
                    width: 100%;
                    order: 1;
                    margin-bottom: 0.86rem;
                }
            }
        }
    }
}

// application-note
.applicant-note {
    padding-bottom: 2.71rem;
    margin-bottom: 2.28rem;
    border-bottom: 4px solid $light-grey-color-1;

    @include breakpoint(mobile-max) {
        margin-bottom: 1.71rem;
        padding-bottom: 2.14rem;
    }

    .block-fourthtitle {
        margin-bottom: 1rem;
    }
    
    &__info {
        .list-tags {
            @include breakpoint(mobile-max) {
                margin-top: 1.14rem;
            }
        }
    }

    &__info-desc {
        @include breakpoint(mobile-max) {
            margin-bottom: 1.14rem;
        }
    }
}
    
// applicant-info
.applicant-info {
    margin-top: 1.71rem;
    padding: 1.71rem;
    border-radius: 0.57rem;

    @include breakpoint(mobile-max) {
        padding: 1.14rem;
        margin-top: 2.28rem;
    }

    &__img {
        @include breakpoint(mobile-max) {
            margin-bottom: 1.14rem;
        }
        img {
            width: 156px;
            height: 156px;
            object-fit: cover;
            border-radius: 100%;

            @include breakpoint(desktop-max) {
                width: 146px;
                height: 136px;
            }

            @include breakpoint(desktop-max) {
                width: 152px;
                height: 152px;
            }
        }
    }

    &__text {
        &-title {
            margin-bottom: 1.71rem;
            .block-fourthtitle {
                margin-bottom: 0.57rem;
            }
        }
        &-user-interest {
            .base-text {
                font-weight: 700;
            }
            span {
                display: inline-block;
                margin-top: 0.57rem;
            }
        }

    }

    &__company-details {
        background-color: #fff;
        border-radius: 0.57rem;
        padding: 1.14rem;

        @include breakpoint(ipad-max) {
            margin-top: 1.14rem;
        }
        
        address {
            width: 140px;
        }
    }

    &__personal-details {
        @include breakpoint(mobile-max) {
            margin-top: 1.14rem;
        }        
    }

    &__about {
        margin-top: 1.71rem;
    }
}