.calander {
    &-header {
        display: none;

        @include breakpoint(mobile-max) {
            display: block;
        }

        a {
            &.btn {
                width: 49% !important;
                // margin-right: .57rem;
                display: inline-block !important;

                @include breakpoint(custom-small-mobile-max) {
                    width: 100% !important;
                    display: block !important;
                    margin-bottom: .57rem;
                }

                &:last-child {
                    margin-right: 0;
                    padding: .4rem 3.5rem;

                }
            }
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-weight: bold !important;
            font-size: 14px !important;
            color: $base-color !important;
        }
    }

    &-month {
        @include breakpoint(mobile-max) {
            margin-top: 0.85rem;
        }
    }
}

.calander {
    display: none;
    margin-top: 2.285rem;

    @include breakpoint(mobile-max) {
        display: block;
    }

    ul {
        li {
            border-bottom: solid 4px #f5f5f5;
            padding-bottom: 1.142rem;
            margin-bottom: 1.142rem;

            h5 {
                font-weight: bold;
                font-size: 1.14rem;
                line-height: 1.57rem;
                letter-spacing: -0.0135rem;
                margin-bottom: 1.14rem;
            }

            span {
                font-size: 1rem;
                line-height: 1.42rem;
                font-weight: normal;
                letter-spacing: 0.012rem;
            }
        }
    }

    .event-desc {
        border-left: 2px solid transparent;
        padding-left: 0.57rem;
        margin-left: 0.57rem;

        &.border-green {
            border-color: $minty-green;
        }

        &.border-red {
            border-color: $regular-red-4;
        }
    }

    &--date {}

    .event-time {}
}