.common-use-table {
    .common-table {
        margin-top: 2.85rem;

        @include breakpoint(mobile-max) {
            margin-top: 1.14rem;
        }

        &__lists {

            >div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;

                @include breakpoint(large-desktop-min) {
                    align-items: flex-end;
                }

                &:last-child {
                    @include breakpoint(mobile-max) {
                        padding-bottom: 1.14rem;
                        border-bottom: 4px solid $light-grey-color-1;
                    }
                }

                li {
                    display: inline-block;

                    @include breakpoint(mobile-max) {
                        width: 100%;
                    }

                    &:first-child {
                        @include breakpoint(ipad-min) {
                            width: 10%;
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(ipad-min) {
                            width: 20%;
                        }
                    }

                    &:nth-child(3) {
                        @include breakpoint(ipad-min) {
                            width: 30%;
                        }
                    }

                    &:nth-child(4) {
                        @include breakpoint(ipad-min) {
                            width: 10%;
                        }
                    }

                    &:nth-child(5) {
                        @include breakpoint(ipad-min) {
                            width: 20%;
                        }
                    }
                }

                li+li {
                    @include breakpoint(mobile-max) {
                        margin-top: 0.57rem;
                    }
                }
            }

            >div+div {
                @include breakpoint(mobile-max) {
                    border-top: 4px solid $light-grey-color-1;
                    padding-top: 1.14rem;
                }
            }

            &-body {

                @include breakpoint(mobile-max) {
                    margin-bottom: 2.28rem;
                }
            }
        }
    }
}


// notification-table
.notification-table {
    .common-table {
        &__lists {

            >div {

                li {
                    &:first-child {
                        @include breakpoint(ipad-min) {
                            width: 15%;
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(ipad-min) {
                            width: 15%;
                        }
                    }

                    &:nth-child(3) {
                        @include breakpoint(ipad-min) {
                            width: 55%;
                        }
                    }

                    &:nth-child(4) {
                        @include breakpoint(ipad-min) {
                            width: 15%;
                        }
                    }

                    &:nth-child(5) {
                        @include breakpoint(ipad-min) {
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}

// bookmark-table
.bookmark-table {
    .common-table {
        &__lists {

            >div {

                li {
                    &:first-child {
                        @include breakpoint(ipad-min) {
                            width: 5%;
                        }

                        @include breakpoint(mobile-max) {
                            width: 10%;
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(mobile-max) {
                            width: 85%;
                            margin-top: 0.35rem;
                        }
                    }

                    &:nth-child(3) {
                        @include breakpoint(ipad-min) {
                            width: 50%;
                        }
                    }

                    &:nth-child(4) {
                        @include breakpoint(ipad-min) {
                            width: 13%;
                        }
                    }

                    &:nth-child(5) {
                        @include breakpoint(ipad-min) {
                            width: 12%;
                        }
                    }
                }
            }
        }
    }
}