.confirm-project {

    &__title-box {
        margin: 3.42rem 0 1.71rem 0;
    
        @include breakpoint(mobile-max) {
            margin: 2.28rem 0 1.71rem 0;
        }
    
        i {
            display: inline-block;
            font-size: 5.07rem;
            line-height: 5.71rem;
            margin-bottom: 0.57rem;
            color:$light-grey-color-2 ;
        }
    
        .block-thirdtitle {
            margin-bottom: 0;
        }
    }

    &__body {

    }

    &__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-top: 4px solid $light-grey-color-1;
        padding-top: 2.78rem;
        margin-top: 2.78rem;
        margin-bottom: 3.42rem;

        @include breakpoint(desktop-max) {
            margin-bottom: 2.84rem;
        }

        @include breakpoint(ipad-max) {
            margin-bottom: 2.34rem;
        }

        @include breakpoint(mobile-max) {
            padding-top: 2.14rem;
            margin-top: 2.28rem;
            margin-bottom: 2.85rem;
        }

        .btn {
            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }

        .btn+.btn {
            @include breakpoint(ipad-min) {
                margin-left: 1.71rem;
            }

            @include breakpoint(mobile-max) {
                margin-top: 0.85rem;
            }
        }
    }
}