.course-table {
    .common-table {
        &__lists {

            &-header,
            &-body {
                >div {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    @include breakpoint(mobile-max) {
                        border-bottom: 4px solid #F5F5F5;
                        margin-bottom: 1.14rem;
                        padding-bottom: 1.14rem;
                    }

                    li {
                        @include breakpoint(mobile-max) {
                            margin-bottom: 0.57rem;
                        }

                        span {
                            &.d-inline-block {
                                @include breakpoint(custom-small-mobile-max) {
                                    display: none !important;
                                }

                            }
                        }

                        &:first-child {
                            width: 5%;
                            padding-right: 1%;

                            @include breakpoint(mobile-max) {
                                width: 10%;
                                position: absolute;
                            }
                        }

                        &:nth-child(2),
                        &:nth-child(3) {
                            width: 31%;
                            padding-right: 1%;

                            @include breakpoint(mobile-max) {
                                width: 100%;
                            }
                        }

                        &:nth-child(2) {
                            @include breakpoint(mobile-max) {
                                width: 90%;
                                padding-left: 2.2rem;
                            }
                        }

                        &:nth-child(4) {
                            width: 14%;
                            padding-right: 1%;

                            @include breakpoint(mobile-max) {
                                width: 100%;
                                padding-left: 2.2rem;
                            }
                        }

                        &:nth-child(3) {
                            @include breakpoint(ipad-max) {
                                word-break: break-all;
                            }

                            @include breakpoint(mobile-max) {
                                width: 100%;
                                padding-left: 2.2rem;
                            }
                        }

                        &:nth-child(5),
                        &:last-child {
                            width: 19%;
                            text-align: left;
                            float: right;
                            padding-right: 0;

                            @include breakpoint(desktop-max) {
                                width: 19%;
                            }

                            @include breakpoint(ipad-max) {
                                width: 19%;
                            }

                            @include breakpoint(mobile-max) {
                                text-align: left;
                                width: 100%;
                                padding-left: 2.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.course-head {
    .course-filter-box--with-search-btn {
        .btn.btn--primary {
            @include breakpoint(ipad-max) {
                margin-top: .57rem;
            }
        }
    }

    .common-flex-box h2 {

        @include breakpoint(mobile-max) {
            margin-bottom: 1.142rem;
        }
    }

    .filter-box {
        .btn {
            @include breakpoint(mobile-max) {
                margin-top: 0;
            }
        }

        &--style-2 {
            .btn {
                @include breakpoint(mobile-max) {
                    margin-top: 0;
                }
            }
        }
    }
}