.course-project-table {
    .common-table {
        &__lists {

            &-header,
            &-body {
                >div {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    @include breakpoint(mobile-max) {
                        border-bottom: 4px solid #F5F5F5;
                        margin-bottom: 1.14rem;
                        padding-bottom: 1.14rem;
                    }

                    li {

                        span {
                            &.d-inline-block {
                                @include breakpoint(custom-small-mobile-max) {
                                    display: none !important;
                                }

                            }
                        }

                        &:first-child,
                        &:nth-child(2),
                        &:nth-child(3) {
                            width: 30%;
                            padding-right: 1%;

                            @include breakpoint(ipad-max) {
                                width: 28%;
                            }

                            @include breakpoint(mobile-max) {
                                width: 100%;
                            }
                        }

                        &:nth-child(3) {
                            @include breakpoint(ipad-max) {
                                word-break: break-all;
                            }
                        }

                        &:last-child {
                            width: 10%;
                            padding-right: 1%;

                            @include breakpoint(ipad-max) {
                                width: 16%;
                            }

                            @include breakpoint(mobile-max) {
                                width: 100%;
                            }
                        }

                        @include breakpoint(mobile-max) {
                            margin-bottom: 0.57rem;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.upload {
    &-icon {
        color: $base-color;
        font-size: 4.28rem;
        margin-bottom: .57rem;
    }

    &-file {
        display: block;
        background: #fff;
        color: $dark-grey-color-1;
        transition: all .3s;
        // margin-top: 150px;
        text-align: left;
        box-sizing: border-box;
        // border: 5px dotted #ff0000;
        color: $dark-grey-color-1;

        .done-files-btn {
            clear: both;
        }

        .file-title {
            font-size: 1.42rem;
            font-weight: bold;
            line-height: 1.3;
            letter-spacing: -0.017rem;
            color: $dark-grey-color-1;
        }

        .file-size {
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.43;
            letter-spacing: -0.0121rem;
            color: $light-grey-color-2;
            display: block;
        }

        .file-name {
            color: $dark-grey-color-1;
            width: 100%;
            box-sizing: border-box;
            position: relative;
            margin-bottom: 1.71rem;
            width: 42%;
            float: left;
            margin-right: 6rem;

            @include breakpoint(mobile-max) {
                margin-right: 0;
                width: 100%;
                float: none;
            }

            &:nth-child(even) {
                margin-right: 0;
            }

            &::before {
                content: '\e915';
                display: inline-block;
                font-family: $icomoon-font-family;
                color: $base-color;
                font-size: 4.28rem;
                position: absolute;
                left: -68px;
                top: 17px;
            }
        }

        .files {
            padding-left: 4.85rem;
            margin-top: 5.71rem;
            position: relative;
            clear: both;

            @include breakpoint(mobile-max) {
                // padding-left: 0;
            }

            .progress {
                background-color: $light-grey-color-4;
                margin-top: 0.42rem;
                border-radius: 0;

                &-bar {}

                @include breakpoint(mobile-max) {
                    display: block;
                }
            }
        }

        &--btn {
            margin-top: 5.14rem;

            .btn {
                min-width: 179px;
            }
        }
    }

    &-box {
        font-size: 1.428rem;
        padding: 6.14rem 1.71rem 2.85rem 1.71rem;
        border-radius: 8px;
        border: dashed 3px $light-blue-color-2;

        @include breakpoint(mobile-max) {
            padding: 7.85rem 1.71rem 1.71rem 1.71rem;
        }

        p {
            font-size: 1.428rem !important;
            line-height: 1.85rem !important;
            letter-spacing: 0.017rem !important;
        }
    }

}

#box.entered {
    box-shadow: inset 0 0 10px #aaa;
}


#box code {
    background: #1C90F3;
    white-space: nowrap;
    color: white;
    display: inline-block;
    padding: 0 3px;
    line-height: 1.4;
    border-radius: 3px;
}