.course {
    &-filter-box {
        position: relative;

        &--left {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include breakpoint(mobile-max) {
                flex-flow: column;
            }

            .course-list__filter {
                margin: 0;

                @include breakpoint(ipad-min) {
                    position: initial;
                }
            }
        }

        &--with-search {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2.28rem;

            @include breakpoint(mobile-max) {
                flex-flow: column;
            }

            .course-list__filter {
                margin: 0;

                @include breakpoint(ipad-min) {
                    position: initial;
                }

                @include breakpoint(mobile-max) {
                    flex-wrap: wrap;
                }
            }

            .filter-box--style-2 {
                margin-left: 1.71rem;

                @include breakpoint(ipad-max) {
                    margin-left: 1rem;
                }

                @include breakpoint(mobile-max) {
                    margin-left: 2%;
                }
            }

            .inp-icon--search {
                margin-left: 1.71rem;

                @include breakpoint(ipad-max) {
                    margin-left: 1rem;
                }

                @include breakpoint(mobile-max) {
                    width: 100%;
                    margin-left: 0;
                }
            }

            &-btn {
                justify-content: space-between;

                .btn {
                    @include breakpoint(mobile-max) {
                        margin-top: 0.57rem;
                    }
                }

                .filter-box__content {
                    // @include breakpoint(mobile-max) {
                    //     top: 45%;
                    // }
                }
            }

        }
    }

    &-list {
        padding-bottom: 0;

        &__filter {
            display: flex;
            flex-flow: row;
            align-items: center;
            position: relative;
            margin-bottom: 2.285rem;
        }

        .card-header {
            padding: 0.42rem 1.21rem 0.42rem 1.71rem;
        }

        .card-body {
            position: relative;
            padding: 1.14rem 1.21rem 1.14rem 1.71rem;

            .lists-unstyle {
                li+li {
                    @include breakpoint(mobile-max) {
                        margin-top: 0;
                    }
                }
            }

        }

        .common-card--style-2 {
            margin-bottom: 2.85rem;

            @include breakpoint(mobile-max) {
                margin-bottom: 1.71rem;
                margin-top: 0;
            }
        }

        // com notfication reapeat on grid and lists pages
        &__list {
            position: absolute;
            bottom: 1.01rem;
            right: 1.28rem;

            @include breakpoint(mobile-max) {
                bottom: 0.75rem;
            }

            li {
                margin-right: 0.57rem;
                margin-bottom: 0;

                i {
                    margin-right: 0 !important;

                    &:before {
                        color: $base-color;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                @include breakpoint(mobile-max) {
                    margin-top: 0 !important;
                }
            }

        }

        // for lists pages
        &__tage-date {

            @include breakpoint(desktop-min) {
                display: flex;
                align-items: center;
            }

            @include breakpoint(ipad-min) {
                margin-top: 0.57rem;
            }

            .tags-block {
                @include breakpoint(ipad-min) {
                    margin: 0;
                }
            }

            .list-tags {
                margin: 0 !important;

                @include breakpoint(desktop-min) {
                    margin-left: 1.57rem !important;
                }

                @include breakpoint(ipad-max) {
                    margin-top: 0.57rem !important;
                }

                li {
                    @include breakpoint(desktop-min) {
                        display: inline-block;
                    }

                    @include breakpoint(ipad-min) {
                        margin-bottom: 0 !important;
                        margin-top: 3px;
                    }
                }
            }
        }

        // for lists pages
        .list-tags {
            display: inline-block;
            margin: 0.57rem 0 0 0;

            @include breakpoint(mobile-max) {
                margin: 0;
            }

            .tags {
                margin: 0;
                margin-right: 1.14rem;

                @include breakpoint(mobile-max) {
                    display: inline-block;
                    margin: 1.142rem 0 1.142rem 0;
                }
            }

            li {
                margin-right: 1.14rem;
                margin-bottom: 0;

                @include breakpoint(mobile-max) {
                    margin-right: 0;
                    margin-bottom: 0.25rem;
                }
            }
        }
    }

    &-card {
        .common-card--style-2 {
            margin-bottom: 1.71rem;
        }

        &-page-title {
            margin-top: 3.5rem;

            @include breakpoint(mobile-max) {
                margin-top: 1.71rem;
            }
        }

        &-lists {
            .card-body {
                .tags-block {
                    display: inline-block;
                }
            }

            .tags-block {
                @include breakpoint(ipad-min) {
                    margin: 0.57rem 0 0 0;
                }
            }

            .list-tags {
                display: inline-flex;
                flex-flow: row;
                margin: 0;

                @include breakpoint(desktop-min) {
                    margin-left: 1.57rem;position: absolute;
                    bottom: 14px;
                }

                @include breakpoint(ipad-max) {
                    margin-top: 0.57rem;
                }

                li {
                    @include breakpoint(ipad-min) {
                        margin-bottom: 0 !important;
                        // margin-top: 3px;
                    }
                }
            }
        }
    }

    .expand-view {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include breakpoint(mobile-max) {
            display: none;
        }

        .block-fifthtitle {
            font-weight: 700;
            margin: 0 1.14rem 0 0;
        }

        [class^="icon-"],
        [class*=" icon-"] {
            color: $base-color;
            font-size: 1.42rem;
            transition: .5 ease;
            cursor: pointer;
        }

        .sort-btn {
            &.active-btn {
                &:before {
                    color: $dark-blue-color-1;
                }
            }
        }

        .sort-btn+.sort-btn {
            margin-left: 0.57rem;
        }
    }
}