.create-project {

    &__title-box {
        margin: 3.42rem 0 0 0;

        @include breakpoint(mobile-max) {
            margin: 2.28rem 0 0 0;
        }

        i {
            display: inline-block;
            font-size: 5.07rem;
            line-height: 5.71rem;
            color: $light-grey-color-2;
            margin-bottom: 0.57rem;

            @include breakpoint(mobile-max) {
                font-size: 4.28rem;
                line-height: 4.28rem;
            }
        }

        .block-thirdtitle {
            // margin-bottom: 0;
        }
    }

    &-content {
        padding: 3.42rem 4.57rem 0.42rem 4.57rem;
        margin-top: 1.71rem;
        border-radius: 0.57rem;
        background: $light-grey-color-1;

        @include breakpoint(mobile-max) {
            border-radius: 0;
            padding: 2.28rem 1.71rem 0 1.71rem;
            margin: 1.71rem -1.71rem 0 -1.71rem;
        }
    }
}

.create-project-content {

    .form-group {
        margin-bottom: 2.85rem;

        &__name {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.85rem;

            &-other-links {
                display: flex;
                justify-content: space-between;

                a+a {
                    margin-left: 1.14rem;
                }
            }

            &-label {
                font-size: 1.14rem;
                line-height: 1.57rem;
                letter-spacing: 0.013rem;
                font-weight: 700;
                color: $dark-grey-color-1;
                margin-bottom: 0;
            }
        }

        .input-group {
            .form-control {
                width: auto;

                @include breakpoint(mobile-max) {
                    width: 85px;
                }
            }

            .input-group-addon {
                box-shadow: 0 0 0 4px #BFFFDE;
            }

            .input-group-addon {
                background: $base-color;
                padding: 0.56rem;
                border-top-right-radius: .28rem;
                border-bottom-right-radius: .28rem;
                color: #fff
            }
        }

        .form-control {
            width: 100%;
        }
    }

    .dropdown {
        &-item {
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.42rem;
            letter-spacing: 0.014rem;
            color: $dark-grey-color-1;

            @include breakpoint(mobile-max) {
                width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

            }
        }

        &-menu {
            &.show {
                @include breakpoint(mobile-max) {
                    right: 0;
                }
            }
        }

        &-toggle {
            width: 100%;
            font-weight: normal;
            background: #fff;
            color: $dark-grey-color-1;
            letter-spacing: 0.012rem;

            span {
                @include breakpoint(mobile-max) {
                    width: 90%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    text-align: left;
                }
            }

        }
    }

    p.text-right,
    p.text-left {
        font-size: 0.85rem;
        line-height: 1.28rem;
        color: $dark-grey-color-1;
        letter-spacing: 0.01rem;
        margin-top: 0.57rem;
    }

    &__open-filter,
    &__open-filter-2 {
        margin-bottom: 0;

        .form-group__name {
            @include breakpoint(mobile-max) {
                margin-bottom: 0;
            }
        }

        &-box {

            .filter-box {

                &__content {
                    @include breakpoint(ipad-min) {
                        position: relative;
                        top: auto;
                        box-shadow: none;
                        border-color: $base-color;
                        z-index: 1;
                        padding: 0.85rem 0 0 0;
                        height: 204px;
                        overflow-y: auto;
                    }

                    @include breakpoint(mobile-max) {
                        display: none;
                    }

                    p {
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.29rem;
                        letter-spacing: -0.01rem;
                    }
                }

                &__content-two-col,
                &__content-one-col {
                    @include breakpoint(ipad-min) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__open-filter-2 {

        .block-fourthtitle {
            @include breakpoint(ipad-min) {
                margin-top: 1.14rem;
            }
        }

        .course-filter-box {
            @include breakpoint (ipad-min) {
                align-items: center;
            }
        }

        .course-list__filter {
            @include breakpoint(mobile-max) {
                flex-flow: column;
            }
        }

        .inp-icon {
            @include breakpoint(ipad-min) {
                margin-left: 0.57rem;
            }

            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }
    }

    &__select-box {
        @include breakpoint(mobile-max) {
            display: none !important;
        }
    }

    .filter-box {
        @include breakpoint(mobile-max) {
            width: 100%;
        }

        &__btn,
        &__deliverable-btn {
            background-color: #fff;

            @include breakpoint(mobile-max) {
                margin-top: 0.85rem;
            }
        }
    }

    &__radio-input p {
        padding-top: 0.2rem;
        padding-left: 2.57rem;
    }

    &__radio-input+&__radio-input {
        margin-top: 0.85rem;
    }

    &--btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-top: 4px solid $light-grey-color-1;
        padding-top: 2.78rem;
        margin-top: 2.78rem;
        margin-bottom: 3.42rem;

        @include breakpoint(desktop-max) {
            margin-bottom: 3.8rem;
        }

        @include breakpoint(ipad-max) {
            margin-bottom: 3.14rem;
        }

        @include breakpoint(mobile-max) {
            padding-top: 2.14rem;
            margin-top: 2.28rem;
            margin-bottom: 2.85rem;
        }

        .btn {
            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }

        .btn+.btn {
            @include breakpoint(ipad-min) {
                margin-left: 1.71rem;
            }

            @include breakpoint(mobile-max) {
                margin-top: 0.85rem;
            }
        }
    }

    &__project-timing {
        .row>div+div {
            @include breakpoint(mobile-max) {
                margin-top: 0.85rem;
            }
        }

        .input-group {
            .form-control {
                width: 85px !important;
            }
        }
    }

    &__table {
        .common-table__lists {

            @include breakpoint(mobile-max) {
                padding: 1.14rem 0 0 0;
            }

            >div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;

                li {
                    display: inline-block;
                    width: 100%;

                    &:first-child {
                        @include breakpoint(ipad-min) {
                            width: 30%;
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(ipad-min) {
                            width: 35%;
                        }
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        @include breakpoint(ipad-min) {
                            width: 10%;
                        }
                    }
                }

                li+li {
                    margin-top: 0.57rem;
                }
            }

            &-header {
                background-color: $light-grey-color-4;
            }

            &-body {
                // background-color: $light-grey-color-3;

                span {
                    @include breakpoint(ipad-min) {
                        display: none;
                    }
                }
            }
        }
    }

    &__post-theme {
        display: flex;
        flex-wrap: wrap;

        &-input {
            position: relative;
            display: inline-block;
            cursor: pointer;
            user-select: none;
            margin-left: 0.57rem;
            margin-bottom: 0;

            @include breakpoint(mobile-max) {
                width: 48%;
                margin: 0;
            }

            &:nth-child(3),
            &:nth-child(4) {
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }

            &:nth-child(even) {
                @include breakpoint(mobile-max) {
                    margin-left: 0.57rem;
                }
            }

            &:first-child {
                margin-left: 0;

                @include breakpoint(mobile-max) {
                    margin-top: 0;
                }
            }

            input {
                opacity: 0;
                position: absolute;
                cursor: pointer;

                &[type=radio]:checked~.btn {
                    background-color: $dark-blue-color-1;
                    box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
                }
            }

            .btn {
                position: relative;
                transition: .5s ease;

                @include breakpoint(mobile-max) {
                    width: 100%;
                    padding: 0.57rem 1rem;
                }

                &:focus,
                &:hover {
                    @include breakpoint(ipad-min) {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    &__upload-document {
        display: flex;
        justify-content: space-between;
    }
}

.inp-icon--search {
    @include breakpoint(mobile-max) {
        margin-top: .85rem;
    }

    .form-control {
        width: 280px !important;

        @include breakpoint(ipad-max) {
            width: 192px !important;
        }

        @include breakpoint(mobile-max) {
            width: 100% !important;
        }
    }
}

#show-question {
    display: none;
}

.registration-settings-filter {
    &__filter {
        .filter-box__content {
            @include breakpoint(mobile-max) {
                top: 48%;
            }
        }
    }
}