.project-section {

	&__title-cta {
		display: flex;
		align-items: center;
		margin: 0 0 2.28rem 0 !important;

		@include breakpoint(mobile-max) {
			margin: 0 0 1.71rem 0 !important;
		}
	}

	&__para {
		font-size: 1rem;
		line-height: 1.42rem;
		margin-bottom: 0;

		@include breakpoint(mobile-max) {
			margin-bottom: 1rem;
		}
	}
}

.course-section {
	@include breakpoint(mobile-max) {
		margin: 0 0 2.28rem 0;
		padding: 0 0.64rem;
	}
}

.recommend-section,
.internships-section {
	padding: 3.43rem 0 0 0;

	@include breakpoint(mobile-max) {
		padding: 2.28rem 0.64rem;
	}
}

.course-section,
.internships-section,
.recommend-section {
	a.text--darkblue {
		transition: .5s ease;
		&:hover,
		&:focus {
			color: $base-color;
		}

		&:focus {
			box-shadow: 0 0 0 4px #BFFFDE;
		}
	}

	a.text--lightblue {
		transition: .5s ease;

		&:hover,
		&:focus {
			color: $dark-blue-color-1;
		}

		&:focus {
			box-shadow: 0 0 0 4px #BFFFDE;
		}
	}
}

.skill-section {
	padding: 2.85rem 0 3.428rem 0;

	&__box {
		@include breakpoint(mobile-max) {
			margin: 0 0 2.28rem 0;
		}
	}

	&__media {
		img {
			border-top-left-radius: .57rem;
			border-bottom-left-radius: .57rem;

			@include breakpoint(mobile-max) {
				width: 100%;
				border-top-left-radius: .57rem;
				border-bottom-left-radius: 0;
				border-top-right-radius: .57rem;
			}
		}
	}

	&__desc {
		padding: 1.71rem;

		h2 {
			margin-bottom: 1.35rem;
		}

		h6 {
			margin-bottom: 1.3rem;
		}

		p {
			color: $dark-grey-color-1;
		}

	}
}