// hackathon result
.hackathon-result {
    margin-bottom: 4.57rem;

    .block-thirdtitle {
        @include breakpoint(mobile-max) {
            font-size: 1.71rem;
            margin-bottom: 1.14rem;
        }
    }

    @include breakpoint(mobile-max) {
        margin-bottom: 2.85rem;
    }
}

// common Evaluation table for member table
.common-evaluation-table {
    .common-table__lists {

        @include breakpoint(mobile-max) {
            padding: 1.14rem 0 0 0;
        }

        >div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            @include breakpoint(mobile-max) {
                border-bottom: 4px solid $light-grey-color-1;
                margin-bottom: 1.14rem;
                padding-bottom: 1.14rem;
            }

            &:last-child {
                @include breakpoint(mobile-max) {
                    padding-bottom: 1.14rem;
                }
            }

            li {
                display: inline-block;
                width: 100%;

                &:first-child {
                    @include breakpoint(ipad-min) {
                        width: 23.56%;
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    @include breakpoint(ipad-min) {
                        width: 24.97%;
                    }
                }

                &:nth-child(4) {
                    @include breakpoint(ipad-min) {
                        width: 16.03%;
                    }
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    @include breakpoint(mobile-max) {
                        margin-left: 3.49rem;
                    }
                }
            }

            li+li {
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }
        }

        >div+div {
            // @include breakpoint(mobile-max) {
            //     border-top: 4px solid $light-grey-color-1;
            //     padding-top: 1.14rem;
            // }
        }

        &-body {

            @include breakpoint(mobile-max) {
                margin-bottom: 2.28rem;
            }

            span {
                @include breakpoint(ipad-min) {
                    display: none;
                }
            }
        }
    }

    &__member-profile {
        display: flex;
        align-items: center;

        &-name {
            display: inline-block !important;
            margin-left: 0.57rem;
        }

        img {
            width: 41px;
            height: 41px;
            border-radius: 100%;
            object-fit: cover;
        }
    }

    &__close {
        margin-bottom: 3.42rem;

        @include breakpoint(ipad-min) {
            text-align: right;
        }

        @include breakpoint(mobile-max) {
            margin-bottom: 2.85rem;
        }
    }
}

.team-evaluation-table {
    .common-table__lists {
        >div {
            justify-content: initial;
        }
    }
}

.common-evaluation {
    &__member {
        margin-bottom: 1.71rem;

        @include breakpoint(mobile-max) {
            margin-bottom: 0.85rem;
        }

        .row {
            @include breakpoint(desktop-min) {
                align-items: center;
            }
        }

        &-title {
            margin-bottom: 0;

            @include breakpoint(mobile-max) {
                margin-bottom: 1.14rem;
            }
        }

        &-score {
            @include breakpoint(ipad-min) {
                display: flex;
                justify-content: flex-end;
            }
        }

        &-btn {
            a {
                @include breakpoint(mobile-max) {
                    width: 100%;
                }
            }

            a+a {
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }
        }
    }
}