  .rating {
    margin-top: 4px;
  }

  .rating>span {
    display: inline-block;
    position: relative;
    width: 1.5rem;
    margin-right: 4px;
  }

  .rating>span:before {
    content: '\e911';
    font-family: $icomoon-font-family;
    position: absolute;
    left: 0;
    color: $base-color;
    top: -13px;
    font-size: 30px;
  }

  .rating>span:hover:before {
    content: "\e939";
    font-family: $icomoon-font-family;
    position: absolute;
    color: $dark-blue-color-1;
    top: -15px;
  }

  .rating>span.active:before {
    content: "\e939";
    font-family: $icomoon-font-family;
    position: absolute;
    color: $base-color;
    top: -15.1px;
    @include breakpoint(desktop-max){
      top: -14.1px;
    }
    @include breakpoint(mobile-max){
      top: -14.1px;
    }
  }

  .evaluate {
    ul {
      li {
        font-size: 1rem;
        color: $dark-grey-color-1;
        line-height: 1.42rem;
        letter-spacing: 0.012rem;

        &:first-child {
          margin-top: 0;
        }
      }

      li+li {
        margin-top: 1.71rem;
      }
    }
    .form-group{
      margin-top: 1.71rem;
    }
    textarea {
      width: 100%;

      @include breakpoint(ipad-min) {
        width: 100%;
      }
    }
    .upload-box{
      border-color: #fff;
      padding: 3.42rem;
      min-height: 290px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      @include breakpoint(mobile-max){
        padding: 2.42rem;
        min-height: auto;
      }
      a{
        cursor: pointer;
      }
      .video-media{
          width: 100px;
          @include breakpoint(mobile-max){
            width: 60px;
          }
      }
    }
  }
 
  .starrating-block{
    &__previewtitle{
      padding-bottom: 1.21rem;
    }
    &__rating-box{
      &--heading{
        font-size: 1.14rem;    font-weight: bold;color: $base-color;margin-top: 0.85rem;
      }
    }
  } 

  audio:focus {
    outline: none;
}
.evaluate-preview{
  .rating{
    margin-left: 1.71rem;
    @include breakpoint(mobile-max){
      margin-left: 1rem;
    }
    > span{
      @include breakpoint(desktop-max){
        width: .8rem;
      }
      &::before{
        @include breakpoint(desktop-max){
          font-size: 1.42rem;
        }
      }
    }
  }
  .starrating-block{
    padding-right: 1.71rem !important;
    @include breakpoint(mobile-max){
      padding-right:0 !important;
      margin: 1.71rem 0 0 0 !important;
    }
    &__rating-box{
      margin-top: 0;
      ul{
        li{
          display: flex; align-items: center;
        }
      }
      h6{
        margin-bottom: 0; width: 65%;
      }
    }
  }
}