.expenses-table {
    .common-table__lists {
        @include breakpoint(mobile-max) {
            padding: 1.14rem 0 0 0;
        }

        li {
            &.total {
                margin-bottom: 2.21rem;
                ;
            }
        }

        >div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include breakpoint(mobile-max) {
                border-bottom: 4px solid #F5F5F5;
                margin-bottom: 1.14rem;
                padding-bottom: 1.14rem;
            }

            li {
                display: inline-block;
                width: 100%;

                &:first-child {
                    @include breakpoint(ipad-min) {
                        width: 10%;
                        padding-right: 1%;
                        // margin-right: 5%;
                    }
                }

                &:nth-child(2) {
                    @include breakpoint(ipad-min) {
                        width: 16%;
                        padding-right: 1%;
                        // margin-right: 2.12%;
                    }

                    @include breakpoint(ipad-max) {
                        word-break: break-all;
                    }
                }

                &:nth-child(3) {
                    @include breakpoint(ipad-min) {
                        width: 15%;
                        padding-right: 1%;
                        // margin-right: 2.12%;
                    }
                }

                &:nth-child(4) {

                    @include breakpoint(ipad-min) {
                        width: 19%;
                        padding-right: 2rem;
                    }

                    @include breakpoint(ipad-max) {
                        padding-right: 1rem;
                    }
                }

                &:nth-child(5) {
                    @include breakpoint(ipad-min) {
                        width: 10%;
                        padding-right: 1%;
                    }
                }

                &:nth-child(6) {
                    @include breakpoint(ipad-min) {
                        width: 3%;
                        padding-right: 1%;
                    }
                }

                &:nth-child(7) {

                    padding-right: 0;
                    text-align: right;

                    @include breakpoint(ipad-min) {
                        width: 20%;
                        padding-right: 0%;
                    }

                    @include breakpoint(desktop-max) {
                        text-align: left;
                    }

                    @include breakpoint(mobile-max) {
                        text-align: left;
                    }

                }
            }

            li+li {
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }
        }

        &-body {
            .download-link {
                margin-right: 2.21rem;

                @include breakpoint(ipad-max) {
                    margin-right: 1.21rem;
                }

                @include breakpoint(mobile-max) {
                    margin-right: .85rem;
                }
            }

            i {
                font-size: 1.64rem;
            }

        }
    }
}