.final-deliverable{
    .header{
        &-body{
            li{
                &:first-child{
                    padding-left: 0;
                }
                &:nth-child(5),&:nth-child(4){
                    padding-left: 0;
                }
            }
        }
    }
}