// Detail page css
.hackathon-table {

    h4 {
        @include breakpoint(mobile-max) {
            margin-bottom: 0;
        }
    }

    .common-table__lists {
        
        @include breakpoint(mobile-max) {
            padding: 1.14rem 0 0 0;
        }
        
        >div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include breakpoint(mobile-max) {
                border-bottom: 4px solid #F5F5F5;
                margin-bottom: 1.14rem;
                padding-bottom: 1.14rem;
            }

            li {
                display: inline-block;
                width: 100%; 

                &:first-child {
                    @include breakpoint(ipad-min) {
                        width: 23.56%;
                        // margin-right: 5%;
                    }
                }
                
                &:nth-child(2),
                &:nth-child(3) {
                    @include breakpoint(ipad-min) {
                        width: 24.97%;
                        // margin-right: 2.12%;
                    }
                }
    
                &:nth-child(4) {
                    @include breakpoint(ipad-min) {
                        width: 16.03%;
                    }
                }
            }
    
            li + li {
                margin-top: 0.57rem;
            }
        }

        &-body {

            span {
                @include breakpoint(ipad-min) {
                    display: none;
                }
            }
        }
    }
}