.hackathon-post {

    &__title-box {
        align-items: flex-end;

        @include breakpoint(mobile-max) {
            margin-bottom: 1.71rem;
        }

        .create-project__title-box {
            @include breakpoint(mobile-max) {
                margin-bottom: 1.14rem;
            }

            i {
                @include breakpoint(mobile-max) {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    &-banner {
        $self: &;
        display: flex;
        align-items: center;
        justify-content: center;

        &--fun,
        &--playful,
        &--subtle,
        &--warm {
            height: 252px;
            background-size: 100% 100%;
            background-repeat: no-repeat;

            @include breakpoint(mobile-max) {
                height: 440px;
            }
        }

        &--fun {
            background-image: url('../images/hackathon-post-banner/fun-desktop.png');

            @include breakpoint(mobile-max) {
                background-image: url('../images/hackathon-post-banner/fun-mobile.png');
                background-size: cover;
            }

            @include breakpoint(portrait-mobile-max) {
                background-size: 100% 100%;
            }

            #{$self}__text {
                color: #fff;
                background-color: #000000;
            }
        }

        &--playful {
            background-image: url('../images/hackathon-post-banner/playful-desktop.png');

            @include breakpoint(mobile-max) {
                background-image: url('../images/hackathon-post-banner/playful-mobile.png');
            }

            #{$self}__text {
                color: #fff;
            }
        }

        &--subtle {
            background-image: url('../images/hackathon-post-banner/subtle-desktop.png');

            @include breakpoint(mobile-max) {
                background-image: url('../images/hackathon-post-banner/subtle-mobile.png');
            }

            #{$self}__text {
                color: #fff;
            }
        }

        &--warm {
            background-image: url('../images/hackathon-post-banner/warm-desktop.png');

            @include breakpoint(mobile-max) {
                background-image: url('../images/hackathon-post-banner/warm-mobile.png');
            }

            #{$self}__text {
                color: #000000;
            }
        }

        &-preview {
            margin-bottom: 3.28rem;

            @include breakpoint(mobile-max) {
                margin-bottom: 1.71rem;
            }
        }

        &-post {
            margin-top: 100px;
            margin-bottom: 2.85rem;

            @include breakpoint(desktop-max) {
                margin-top: 91px;
            }

            @include breakpoint(ipad-max) {
                margin-top: 83px;
            }
        
            @include breakpoint(mobile-max) {
                margin-top: 55px;
                margin-bottom: 1.71rem;
            }

            #{$self}--fun,
            #{$self}--playful,
            #{$self}--subtle,
            #{$self}--warm {
                height: 303px;

                @include breakpoint(mobile-max) {
                    height: 387px;
                }
            }
        }

        &__text {
            width: 69%;
            text-align: center;
            padding: 0.72rem;
            font-size: 2.85rem;
            font-weight: 700;
            line-height: 3.28rem;
            letter-spacing: -0.48px;

            @include breakpoint(mobile-max) {
                width: 93%;
                font-size: 1.85rem;
                line-height: 2.28rem;
                letter-spacing: -0.31px;
            }
        }
    }

    &-content {
        &-title {
            margin-bottom: 2rem;

            @include breakpoint(mobile-max) {
                display: flex;
                flex-flow: column-reverse;
            }

            .btn {
                @include breakpoint(mobile-max) {
                    margin-bottom: 1.71rem;
                }
            }
        }

        .tab-content {
            padding-top: 1.71rem;

            @include breakpoint(mobile-max) {
                padding-top: 1.14rem;
            }
        }
    }
}