.helpers {
    margin-bottom: 3.42rem;

    @include breakpoint(desktop-max) {
        margin-bottom: 2.84rem;
    } 

    @include breakpoint(ipad-max) {
        margin-bottom: 2.34rem;
    }

    @include breakpoint(mobile-max) {
        margin-bottom: 2.85rem;
    }
}