.invite-table {
    .common-table__lists {

        &-header,
        &-body {
            >div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @include breakpoint(mobile-max) {
                    border-bottom: 4px solid #F5F5F5;
                    margin-bottom: 1.14rem;
                    padding-bottom: 1.14rem;
                }

                li {
                    @include breakpoint(mobile-max) {
                        margin-bottom: 0.57rem;
                    }

                    span {
                        &.d-inline-block {
                            @include breakpoint(custom-small-mobile-max) {
                                display: none !important;
                            }

                        }
                    }

                    &:first-child {
                        width: 40%;

                        @include breakpoint(mobile-max) {
                            width: 100%;
                        }
                    }

                    &:nth-child(2) {
                        width: 40%;

                        @include breakpoint(mobile-max) {
                            width: 100%;
                            word-break: break-all;
                        }
                    }

                    &:last-child {
                        width: 20%;
                        text-align: right;

                        @include breakpoint(mobile-max) {
                            width: 100%;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}