.manage-post-table {
    .common-table__lists {

        >div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            &:last-child {
                @include breakpoint(mobile-max) {
                    border-bottom: 4px solid $light-grey-color-1;
                    padding-bottom: 1.14rem;
                }
            }

            li {
                width: 100%;
                display: inline-block;


                &:first-child {
                    @include breakpoint(ipad-min) {
                        width: 12%;
                    }
                }

                &:nth-child(2) {
                    @include breakpoint(ipad-min) {
                        width: 28%;
                    }
                }

                &:nth-child(3),
                &:nth-child(4) {
                    @include breakpoint(ipad-min) {
                        width: 12%;
                    }
                }

                &:nth-child(5) {
                    @include breakpoint(ipad-min) {
                        width: 19%;
                    }
                }

                &:nth-child(6) {
                    @include breakpoint(ipad-min) {
                        width: 17%;
                    }
                }
            }

            li+li {
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }
        }

        >div+div {
            @include breakpoint(mobile-max) {
                border-top: 4px solid $light-grey-color-1;
                padding-top: 1.14rem;
            }
        }

        &-body {

            @include breakpoint(mobile-max) {
                margin-bottom: 2.28rem;
            }
        }
    }
}

.manage-post-detail {
    &--bg {
        padding: 1.14rem;
        border-radius: 0.57rem;
        background-color: $light-grey-color-1;
    }

    &__application-title,
    &__about-title {
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.14rem;

        .block-subtitle {
            margin-bottom: 0;

            @include breakpoint(mobile-max) {
                margin-bottom: 0.57rem;
            }
        }
    }

    .product-detail-field-col {
        @include breakpoint(mobile-max) {
            margin-top: 1.14rem !important;
        }
    }

    &__about-title {
        margin-top: 2.85rem;

        @include breakpoint(mobile-max) {
            margin-top: 2.28rem;
        }
    }

    &__row {
        margin-bottom: 1.14rem;
    }
}