.manage-profile-content {
    .block-subtitle {
        margin-bottom: 2rem;
    }

    .form-group {
        margin-bottom: 1.71rem;
    }

    .create-project-content__open-filter {
        @include breakpoint(ipad-min) {
            margin-bottom: 2.85rem;
        }
    }

    &__textarea {
        height: 114px;
    }

    &__professional-title {
        margin-top: 3.14rem;

        @include breakpoint(mobile-max) {
            margin-bottom: 1.42rem;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__upload-box {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 0.57rem;
        padding: 1.71rem;

        img {
            width: 326px;
            height: 326px;
            border-radius: 100%;
            object-fit: cover;

            @include breakpoint(mobile-max) {
                width: 278px;
                height: 278px;
            }

            @include breakpoint(custom-small-mobile-max) {
                width: 237px;
                height: 237px;
            }
        }

        .btn {
            display: inline-block;
            margin-top: 1.71rem;
        }
    }
}