.common-flex-box {
    @include breakpoint (ipad-max) {
        margin-bottom: .85rem;
    }

    @include breakpoint(mobile-max) {
        // margin-bottom: .85rem;
    }

    .link-button {
        @include breakpoint (ipad-max) {
            margin-top: .85rem;
        }

        @include breakpoint(mobile-max) {
            width: 100%;
            margin-top: 0;

            .btn {
                width: 100%;

                &:nth-child(2) {
                    margin-top: .85rem;
                }
            }
        }

        a {
            margin-right: 1.71rem;

            &:last-child {
                margin-right: 0;
            }

            @include breakpoint(mobile-max) {
                width: 100%;
                display: inline-block;
                margin-right: 0;
            }
        }
    }
}

.planner {
    &-header {
        margin-top: 1.71rem;
    }

    &-header,
    &-body {

        li {
            &:first-child {
                width: 46%;

                @include breakpoint (ipad-max) {
                    width: 35%;
                }

                @include breakpoint(mobile-max) {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                width: 18%;

                @include breakpoint (ipad-max) {
                    width: 20%;
                }

                @include breakpoint(mobile-max) {
                    width: 100%;
                    padding-left: 2rem;
                    ;
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                width: 12%;

                @include breakpoint (ipad-max) {
                    width: 15%;
                }

                @include breakpoint(mobile-max) {
                    width: 100%;
                    padding-left: 2rem;
                }
            }

            &:nth-child(5) {
                @include breakpoint (ipad-max) {
                    width: 12%;
                }

                @include breakpoint(mobile-max) {
                    border-bottom: 0;
                    margin: 0;
                    padding-bottom: 0;
                }
            }

            &:last-child {
                width: 10%;
                padding-left: 2rem;
                display: inline-flex;
                justify-content: space-between;

                @include breakpoint (desktop-max) {
                    padding-left: 0;
                }

                @include breakpoint (ipad-max) {
                    width: 12%;
                    padding-left: 0;
                }

                @include breakpoint(mobile-max) {
                    width: 100%;
                    justify-content: flex-start;
                    margin: 0;
                    padding-bottom: 0;
                    padding-left: 2rem;
                }
            }
        }
    }

    &-body {
        border: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        >div {
            &:last-child {
                li {
                    margin-bottom: 1.14rem !important;
                    ;
                }
            }
        }

        @include breakpoint(mobile-max) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 2.571rem;
        }

        &--divider {
            margin-bottom: 2.21rem;
            padding-bottom: 2.21rem;
            border-bottom: 4px solid $light-grey-color-1;

            &:last-child {
                margin-bottom: 3.35rem;
            }

        }

        li {
            @include breakpoint (ipad-max) {
                &:last-child {
                    // padding-left: 0;
                }
            }

            @include breakpoint(mobile-max) {
                &:last-child {
                    // padding-left: 0;
                }
            }

        }
    }

    &-table {
        .checkbox-input-box {
            margin-right: 2rem;
        }

        &--child,
        &--parent {
            li {

                .table-text {
                    margin-left: 0.571rem;

                    @include breakpoint(mobile-max) {
                        margin: 0;
                    }
                }

                &:last-child {
                    margin-bottom: 1.14rem;
                    ;
                }
            }

            @include breakpoint(mobile-max) {
                border-bottom: 4px solid #f5f5f5;
                padding-bottom: 1.07rem;
                margin-bottom: 1.07rem;
            }
        }

        &--child {
            @include breakpoint(mobile-max) {
                position: relative;
                border-bottom: 0;
                ;

                &:before {
                    content: '';
                    left: 3rem;
                    height: 4px;
                    right: 3rem;
                    position: absolute;
                    bottom: 12px;
                    display: block;
                    background: #f5f5f5;
                }
            }

            li {
                margin-bottom: 1.14rem;

                &:first-child {
                    font-weight: normal;
                    padding-left: 3rem;

                    @include breakpoint(mobile-max) {
                        // padding-left: 0;
                    }
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    @include breakpoint(mobile-max) {
                        padding-left: 3rem;
                    }
                }
            }

            &.warning {
                li {
                    position: relative;

                    &:first-child,
                    &:nth-child(4) {
                        color: $regular-red;
                    }

                    &:first-child {
                        &:before {
                            content: $icon-error;
                            font-family: $icomoon-font-family;
                            font-size: 1.42rem;
                            left: -0.21rem;
                            color: $regular-red;
                            position: absolute;

                            @include breakpoint(mobile-max) {
                                left: -0.85rem;
                            }
                        }
                    }

                }
            }
        }

        &--parent {
            li {
                margin-bottom: 1.14rem;

                @include breakpoint(mobile-max) {
                    margin-bottom: 0.57rem;
                }
            }
        }
    }

    .add-task {
        padding-left: 2rem;

        i {
            margin-right: 0.571rem;
        }
    }
}