.refernce-table {
    .header-list {}

    .header-body {
        li {
            &:first-child {
                padding-left: 0;

                img {
                    margin: 0 .42rem 0 0;
                }
            }

            &:nth-child(4),
            &:nth-child(5) {
                padding-left: 0;
            }
        }
    }
}