.header {

    &-list,
    &-body {
        background: $light-grey-color-1;
        padding: 1.142rem 1.714rem;

        li {
            font-size: 1rem;
            font-weight: normal;
            line-height: 1.42rem;
            letter-spacing: 0.014rem;
            color: $dark-grey-color-1;

            @include breakpoint(ipad-max) {
                vertical-align: top;
            }

            vertical-align: top;

            &:first-child {
                width: 50%;
                display: inline-block;
                font-weight: bold;
                color: $base-color;

                @include breakpoint(ipad-max) {
                    width: 35%;
                }

                @include breakpoint(mobile-max) {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                width: 10%;
                display: inline-block;

                @include breakpoint(ipad-max) {
                    width: 15%;
                }

                @include breakpoint(mobile-max) {
                    width: 45%;
                }
            }

            &:nth-child(3) {
                width: 10%;
                display: inline-block;

                @include breakpoint(ipad-max) {
                    width: 12%;
                }

                @include breakpoint(mobile-max) {
                    display: none;
                }
            }

            &:nth-child(4) {
                width: 10%;
                display: inline-block;

                @include breakpoint(mobile-max) {
                    width: 45%;
                    float: left;
                }
            }

            &:nth-child(5) {
                width: 18%;
                display: inline-block;

                @include breakpoint(ipad-max) {
                    width: 25%;
                }

                @include breakpoint(mobile-max) {
                    width: 100%;
                    border-bottom: 4px solid $light-grey-color-1;
                    margin-bottom: 1.14rem;
                    padding-bottom: 1.14rem
                }
            }
        }
    }

    &-list {
        li {
            font-weight: bold;

            &:first-child {
                color: $dark-grey-color-1;
            }
        }

        @include breakpoint(mobile-max) {
            display: none;
        }
    }

    &-body {
        background: none;
        padding: 2.35rem 1.714rem;
        margin-bottom: 2.78rem;
        border-bottom: 4px solid $light-grey-color-1;

        @include breakpoint(mobile-max) {
            border-bottom: 0;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

        li {
            margin-bottom: 2.28rem;

            @include breakpoint(mobile-max) {
                margin-bottom: 0.57rem;
            }

            img {
                margin: 0 0.42rem;

                @include breakpoint(mobile-max) {
                    margin: 0 0.42rem 0 0;
                }
            }

            &:first-child {
                padding-left: 1.42rem;

                @include breakpoint(mobile-max) {
                    padding-left: 2rem;
                }
            }

            .download-link {
                margin-right: 2.21rem;

                @include breakpoint(mobile-max) {
                    margin-right: .57rem;
                }
            }

        }

        li {
            &:nth-child(5) {
                text-align: right;

                @include breakpoint(mobile-max) {
                    text-align: left;
                }
            }

            &:nth-child(4),
            &:nth-child(5) {
                @include breakpoint (mobile-max) {
                    padding-left: 2rem;
                }
            }
        }

        >div {
            &:last-child {
                li {
                    margin-bottom: 0;

                    @include breakpoint(ipad-max) {
                        margin-bottom: 2.28rem;
                    }

                    @include breakpoint(mobile-max) {
                        margin-bottom: .57rem;
                    }
                }
            }
        }

        .checkbox-input-box {
            .checkmark {
                left: -1.42rem;

                @include breakpoint(mobile-max) {
                    left: -2rem;
                }
            }
        }

        .checkmark {
            top: 1px;
        }

        .file-name {
            font-size: 1.14rem;
        }
    }
}

.bredcrumb {
    margin: 3.42rem 0 0.571rem 0;

    @include breakpoint(mobile-max) {
        margin: 1.714rem 0 0.57rem 0;
    }

    &--without-notication {
        @include breakpoint(mobile-max) {
            margin: 2.28em 0 0.57rem 0;
        }
    }
}

.submit-btn {
    margin: 1.71rem 0 0.86rem 0;
}

.btn--view {
    margin: 0 0 3.42rem 0;

    @include breakpoint(desktop-max) {
        margin: 0 0 2.84rem 0;
    }

    @include breakpoint(ipad-max) {
        margin: 0 0 2.34rem 0;
        // margin: 0 0 2.85rem 0;
    }

    @include breakpoint(mobile-max) {
        margin: 0 0 2.28rem 0;
    }
}

.inp-search {
    @include breakpoint(mobile-max) {
        margin-top: 1.71rem;
    }
}

.link {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.42rem;
    letter-spacing: 0.014rem;

    &--with-left-arrow {
        margin-right: 0.28rem;

        i {
            transform: rotate(90deg);
            display: inline-block;
        }
    }

    &--with-right-arrow {
        margin-left: 0.28rem;
    }
}