.project-profile-main-profile {

    .project-profile-img-name {

        .container>.bottom-border {
            padding-bottom: 2.28rem;
            margin-bottom: 2.28rem;

            @include breakpoint(mobile-max) {
                padding-bottom: 1.71rem;
                margin-bottom: 1.71rem;
            }
        }
        
        &__profile-page {
            @include breakpoint(ipad-min) {
                display: flex;
                align-items: center;
            }
        
        
            .block-thirdtitle {
                margin-bottom: 0;
        
                @include breakpoint(mobile-max) {
                    margin-top: 1rem;
                }
            }
        
            &-account {
                margin-left: auto;
        
                @include breakpoint(mobile-max) {
                    margin-top: 1.57rem;
                }
            }
        
            &-edit {
                @include breakpoint(ipad-min) {
                    margin-left: 1.14rem;
                }
        
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }
        }

        &__user-interest {
            .block-fourthtitle {
                @include breakpoint(mobile-max) {
                    margin-top: 1.71rem;
                }
            }
        }
    }

    .product-detail-deliverable-block {
        @include breakpoint(mobile-max) {
            margin: 0;
        }
    }

    .project-profile-main {
        margin-bottom: 4.57rem;

        @include breakpoint(desktop-max) {
            margin-bottom: 3.8rem;
        }

        @include breakpoint(ipad-max) {
            margin-bottom: 3.14rem;
        }

        @include breakpoint(mobile-max) {
            margin-bottom: 2.71rem;
        }
    }
}