.project-post-detail {

    &-about-block {
        margin: 1.71rem 0 2.85rem 0;

        .product-detail {
            &-mission-block {
                margin-top: 0;
            }
        }
    }
}