.register-table {
    .common-table__lists {

        &-header,
        &-body {
            >div {
                li {
                    span {
                        &.d-inline-block {
                            @include breakpoint(custom-small-mobile-max) {
                                display: none !important;
                            }

                        }
                    }

                    &:first-child {
                        width: 10%;
                        padding-right: 1%;

                        @include breakpoint(mobile-max) {
                            width: 10%;
                            position: absolute;
                        }
                    }

                    &:nth-child(2) {
                        width: 40%;
                        padding-right: 1%;

                        @include breakpoint(mobile-max) {
                            width: 90%;
                        }
                    }

                    &:nth-child(3) {
                        width: 35%;
                        padding-right: 1%;

                        @include breakpoint(mobile-max) {
                            width: 90%;
                            padding-left: 2.2rem;
                        }
                    }

                    &:last-child {
                        width: 15%;
                        padding-right: 1%;

                        @include breakpoint(mobile-max) {
                            width: 100%;
                            padding-left: 2.2rem;
                        }
                    }
                }
            }
        }
    }
}

.text-right {
    .btn {
        margin-right: 1.71rem;

        @include breakpoint(portrait-mobile-max) {
            margin-bottom: .57rem;
        }

        &:last-child {
            margin-right: 0;

            @include breakpoint(mobile-max) {
                margin-bottom: 0;
            }
        }
    }
}

.register-head {
    .inp-icon {
        @include breakpoint(mobile-max) {
            width: 48%;
            margin-top: .57rem;
            margin-left: .57rem;
        }
    }
}