.student-profile {
    .project-profile-portfolio {
        margin-top: 2.86rem;
    
        @include breakpoint(mobile-max) {
            margin-top: 2.28rem;
        }
    }
}

.student-profile.project-profile {
    .common-table {
        padding-bottom: 1.57rem;
        margin-bottom: 3.14rem;

        @include breakpoint(mobile-max) {
            padding-bottom: 1.71rem;
            margin-bottom: 2rem;
        }

        &__lists {
            @include breakpoint(mobile-max) {
                padding: 0.71rem 0 0 0;
            }

            .base-text.fw-700 {
                font-weight: 700;
            }

            >div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                @include breakpoint(mobile-max) {
                    border-bottom: 4px solid #F5F5F5;
                    margin-bottom: 1.14rem;
                    padding-bottom: 1.14rem;
                }

                li {
                    display: inline-block;
                    width: 100%;

                    &:first-child {
                        @include breakpoint(ipad-min) {
                            width: 14%;
                        }
                    }

                    &:nth-child(2) {
                        @include breakpoint(ipad-min) {
                            width: 22%;
                        }
                    }

                    &:nth-child(3) {
                        @include breakpoint(ipad-min) {
                            width: 32%;
                        }
                    }

                    &:nth-child(4) {
                        @include breakpoint(ipad-min) {
                            width: 16%;
                        }
                    }

                    &:nth-child(5) {
                        @include breakpoint(ipad-min) {
                            width: 10%;
                        }
                    }
                }

                li+li {
                    @include breakpoint(mobile-max) {
                        margin-top: 0.57rem;
                    }
                }
            }

            >div+div {
                margin-top: 2.28rem;

                @include breakpoint(mobile-max) {
                    margin-top: 1.71rem;
                }
            }

            &-body {

                // span {
                //     @include breakpoint(ipad-min) {
                //         display: none;
                //     }
                // }

                // span.more,
                // span.morecontent {
                //     display: block;
                // }
            }
        }
    }
}