.subscription-plans {
    margin: 3.43rem 0;

    .subscription-area {
        margin: 2.28rem 0 2.785rem 0;
        border-bottom: 4px solid #f5f5f5;
        padding-bottom: 2.785rem;

        .col-md-4 {
            &:first-child {
                // overflow: hidden;
            }

            &:last-child {
                .subscription-plans--block {
                    @include breakpoint(mobile-max) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &--block {
        border-radius: .57rem;
        box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);

        @include breakpoint(mobile-max) {
            margin-bottom: 1.714rem;
        }

    }

    &--header {
        padding: 5.14rem 2.28rem 1.71rem 2.28rem;
        border-top-left-radius: .57rem;
        border-top-right-radius: .57rem;

        h2 {
            margin-bottom: 0;
        }

        &-tag {
            position: absolute;
            top: 26px;
            ;
            right: 7px;
            transform: rotate(41deg);
            z-index: 1;
            font-size: 1rem;
            line-height: 1.42rem;
            letter-spacing: 0.0121rem;
            ;
            font-weight: bold;
            color: #fff;
            background-color: $regular-red-3;
            padding: 5px 10px;
            display: inline-block;

            &:before {
                content: '';
                width: 0;
                height: 0;
                border-bottom: 29px solid $regular-red-3;
                border-left: 22px solid transparent;
                position: absolute;
                top: 0;
                left: -21px
            }

            &:after {
                content: '';
                width: 0;
                height: 0;
                border-bottom: 29px solid $regular-red-3;
                border-right: 22px solid transparent;
                position: absolute;
                right: -21px;
                top: 0;
            }
        }
    }

    &--body {
        padding: 1.71rem 2.285rem 2.285rem 2.28rem;

        .see-more {
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.42rem;
            letter-spacing: 0.012rem;
            margin: 1.142rem 0;
            color: $base-color;
        }

        h5 {
            font-weight: bold;
            margin-bottom: .57rem;
        }

        ul {
            @include breakpoint(mobile-max) {
                overflow: hidden;
            }

            li {
                margin-bottom: 1.71rem;

                @include breakpoint(mobile-max) {
                    // display: none;
                }

                p {
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 1.42rem;
                    letter-spacing: 0.012rem;
                }
            }
        }
    }

    &--btn {
        text-align: right;
    }
}