// teamchat page css
.teamchat {
    margin: 2.85rem 0 3.42rem 0;

    @include breakpoint(mobile-max) {
        margin: 1.71rem 0 0 0;
    }

    &-message {
        margin-bottom: 2.28rem;
        justify-content: space-between;

        &__profile-img {
            display: flex;
            width: 100%;

            @include breakpoint(ipad-min) {
                justify-content: center;
                width: 10%;
            }

            img {
                width: 90px;
                height: 90px;
                border-radius: 100%;
                object-fit: cover;

                @include breakpoint(ipad-max) {
                    width: 70px;
                    height: 70px;
                }

                @include breakpoint(mobile-max) {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        &__message {
            padding-bottom: 2.28rem;
            width: 100%;

            @include breakpoint(ipad-min) {
                width: 88%;
            }

            @include breakpoint(mobile-max) {
                margin-top: 1.14rem;
            }
        }

        &__chatdocument {
            display: flex;
            margin-top: 1.71rem;
            width: 70%;
            overflow-x: auto;

            @include breakpoint(mobile-max) {
                width: 60%;
                justify-content: space-between;
            }

            @include breakpoint(portrait-mobile-max) {
                width: 100%;
            }

            li+li {
                margin-left: 0.57rem;
            }

            &-img {
                width: 124px;
                height: 143px;
                object-fit: cover;

                @include breakpoint(mobile-max) {
                    width: 70px;
                    height: 70px;
                }
            }
        }

        &__type {

            .teamchat-message__profile-img,
            .teamchat__message bottom-border {
                @include breakpoint(mobile-max) {
                    width: 100%;
                }
            }
        }

        &__download-link {
            display: inline-block;
        }

        &__reply {
            margin-top: 2.28rem;
            padding: 0.57rem 1.14rem;
            background-color: $light-grey-color-1;

            &-message {
                display: flex;
                align-items: center;
                margin-top: 2.28rem;

                @include breakpoint(mobile-max) {
                    align-items: flex-start;
                }
            }

            &-profileimg {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                object-fit: cover;

                @include breakpoint(mobile-max) {
                    width: 42px;
                    height: 42px;
                }
            }
        }
    }

    &__attachment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0.57rem;

        .btn {
            @include breakpoint(portrait-mobile-max) {
                margin-top: 0.57rem;
            }
        }
    }
}

// message page css
.message {
    margin-bottom: 3.42rem;

    @include breakpoint(mobile-max) {
        margin-bottom: 2.28rem;
    }
}

.message-table {
    margin-top: 2.85rem;

    @include breakpoint(mobile-max) {
        margin-top: 1.14rem;
    }

    .common-table__lists {

        @include breakpoint(mobile-max) {
            padding: 1.14rem 0 0 0;
        }

        >div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            
            // @include breakpoint(large-desktop-min) {
            //     align-items: flex-end;
            // }
            
            &:last-child {
                @include breakpoint(mobile-max) {
                    padding-bottom: 1.14rem;
                    border-bottom: 4px solid $light-grey-color-1;
                }
            }

            li {
                display: inline-block;

                @include breakpoint(mobile-max) {
                    width: 100%;
                }

                &:first-child {
                    @include breakpoint(ipad-min) {
                        width: 5%;
                    }
                }

                &:nth-child(2) {
                    @include breakpoint(desktop-min) {
                        width: 23%;
                    }

                    @include breakpoint(ipad-max) {
                        width: 20%;
                    }

                    @include breakpoint(mobile-max) {
                        width: 100%;
                    }
                }

                &:nth-child(3) {
                    @include breakpoint(desktop-min) {
                        width: 35%;
                    }

                    @include breakpoint(mobile-max) {
                        width: 100%;
                    }
                }

                &:nth-child(4) {
                    @include breakpoint(ipad-min) {
                        width: 15%;
                    }

                    @include breakpoint(mobile-max) {
                        width: 50%;
                    }
                }

                &:nth-child(5) {
                    @include breakpoint(ipad-min) {
                        width: 5%;
                    }

                    @include breakpoint(mobile-max) {
                        width: 46%;
                    }
                }
            }

            li+li {
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }
        }

        >div+div {
            @include breakpoint(mobile-max) {
                border-top: 4px solid $light-grey-color-1;
                padding-top: 1.14rem;
            }
        }

        &-body {

            @include breakpoint(mobile-max) {
                margin-bottom: 2.28rem;
            }
        }
    }

    &__member-profile {
        width: 41px;
        height: 41px;
        border-radius: 100%;
        object-fit: cover;  
    }
}

// message detail page
.message-detail  {
    .course-list__filter {
        margin-bottom: 1.14rem;

        .filter-box,
        .btn-secondary  {
            width: 100%;
        }
    }

    &-box {

        &__profile-img {
        }

        &__profile-name {
            width: 20%;
            
            @include breakpoint(mobile-max) {
                width: 100%;
                padding-bottom: 0;
                border-bottom: none;
                margin-top: 1.14rem;
            }
        }
        
        &__message {
            width: 64%;

            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }
    }
}