.timesheet-link {
    .common-flex-box {
        margin-top: 1.71rem;

        @include breakpoint(mobile-max) {
            margin-top: .85rem;
        }
    }

    .link {
        &-with-icon {
            &--download {
                margin-right: 2.21rem;
            }
        }

        @include breakpoint(mobile-max) {
            margin-top: .85rem;
        }
    }
}

.timesheet-table {
    .common-table__lists {
        @include breakpoint(mobile-max) {
            padding: 1.14rem 0;
        }
        li{
            &.total{
                margin-bottom: 2.21rem;;
            }
        }
        >div {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include breakpoint(mobile-max) {
                border-bottom: 4px solid #F5F5F5;
                margin-bottom: 1.14rem;
                padding-bottom: 1.14rem;
            }

            li {
                display: inline-block;
                width: 100%;

                &:first-child {
                    @include breakpoint(ipad-min) {
                        width: 10%;
                        padding-right: 1%;
                    }
                }

                &:nth-child(2) {
                    @include breakpoint(ipad-min) {
                        width: 15%;
                        padding-right: 1%;
                    }
                }

                &:nth-child(3) {
                    @include breakpoint(ipad-min) {
                        width: 20%;
                        padding-right: 1%;
                    }
                }

                &:nth-child(4) {
                    @include breakpoint(ipad-min) {
                        width: 25%;
                        padding-right: 2rem;
                    }
                }

                &:nth-child(5) {
                    @include breakpoint(ipad-min) {
                        width: 10%;
                        padding-right: 1%;
                    }
                }

                &:nth-child(6) {
                    @include breakpoint(ipad-min) {
                        width: 20%;
                    }
                }
            }

            li+li {

                // margin-top: 0.57rem;
                @include breakpoint(mobile-max) {
                    margin-top: 0.57rem;
                }
            }
        }

        &-body {
            @include breakpoint(mobile-max){
                margin-bottom: 2.21rem; padding-bottom: 0;
            }
            li{
                &:last-child{
                    text-align: right;
                    @include breakpoint(desktop-max){
                        text-align: left;
                    }
                    @include breakpoint(mobile-max){
                        text-align: left;
                    }
                }
            }
            .download-link {
                margin-right: 2.21rem;
                @include breakpoint(desktop-max) {
                    margin-right: .85rem;
                }
                @include breakpoint(mobile-max) {
                    margin-right: .85rem;
                }
            }

        }
    }
}

.morecontent span {
	display: none;
}