.welcome-msg{
    &.recommend-section, &.internships-section{
        padding: 3.43rem  0;
    }
    .project-section__title-cta{
        display: block;
    }
    .btn{
        margin-top: 1.14rem;;
    }
}