.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: url(../images/body-bg.svg) #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 3;
    transition: .5s ease;

    .container-fluid {
        @media (min-width:1191px) {
            padding-left: 2.86rem;
            padding-right: 2.86rem;
        }
    }

    &-shadow {
        box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.07);
    }

    &--application {
        background-color: $dark-blue-color-2;

        &-nav-shadow {
            box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.4);
        }

        .container-fluid {
            @include breakpoint(desktop-min) {
                padding-left: 1.78rem;
                padding-right: 1.78rem;
            }

            @include breakpoint(mobile-max) {
                padding: 0 1.14rem;
            }
        }

        .navbar {
            &-brand-wrap {
                svg {
                    width: 37px;
                    height: 42px;

                    @include breakpoint(mobile-max) {
                        height: 26px;
                    }
                }

                .toggle-btn {
                    @include breakpoint(mobile-max) {
                        right: 1.71rem;
                        top: 1.17rem;
                    }

                    [class^="icon-"],
                    [class*=" icon-"] {
                        &:before {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .navigation {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: $dark-blue-color-2;
            z-index: 3;

            &-overlay {
                width: 100%;
                padding: 0 0 0 2.21rem;

                @include breakpoint(ipad-max) {
                    padding: 0 0 0 1.21rem;
                }

                @include breakpoint(mobile-max) {
                    padding: 0;
                }
            }

            &-links-wrap {
                width: 100%;

                @include breakpoint(mobile-max) {
                    justify-content: initial;
                    overflow: scroll;
                }
            }
        }

        .nav-link {
            color: #fff;
            transition: .5s ease;

            &:hover,
            &:focus {
                color: $light-blue-color-3;
            }
        }

        &__right {

            &-links {
                margin-left: auto;
                align-items: center;

                @include breakpoint(mobile-max) {
                    margin-left: 0;
                    flex-flow: column;
                    align-items: flex-start;
                    padding: 0 1.71rem;
                    margin-bottom: 2.57rem;
                }

                li+li {
                    @include breakpoint(ipad-min) {
                        margin-left: 0.78rem;
                    }

                    @include breakpoint(mobile-max) {
                        margin-top: 1.14rem;
                    }
                }
            }

            &-items {
                @include breakpoint(mobile-max) {
                    width: 100%;
                }

                &:first-child {
                    @include breakpoint(mobile-max) {
                        border-top: 4px solid $dark-grey-color-5;
                        margin: 1.71rem 0 0 0;
                        padding: 1.71rem 0 0 0;
                    }
                }

                a {
                    display: inline-block;
                    color: #fff;
                    transition: .5s ease;

                    &:hover,
                    &:focus {
                        color: $light-blue-color-3;
                    }

                    [class^="icon-"],
                    [class*=" icon-"] {
                        transition: .5s ease;

                        &:hover,
                        &:focus {
                            color: $light-blue-color-3;
                        }
                    }

                    @include breakpoint(mobile-max) {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }

                &-profile {
                    .nav-link {
                        &:after {
                            @include breakpoint(ipad-min) {
                                display: none;
                            }
                        }
                        @include breakpoint(mobile-max) {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            &-title {
                margin: 0;

                @include breakpoint(ipad-min) {
                    display: none;
                }

                @include breakpoint(mobile-max) {
                    margin-left: 1.14rem;
                }
            }
        }

        .dropdown {

            &-menu {
                @include breakpoint(ipad-min) {
                    border-radius: 4px;
                    box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
                    border: solid 2px $dark-blue-color-1;
                    margin-top: 0.57rem;
                    padding: 0;
                }

                @include breakpoint(mobile-max) {
                    box-shadow: none;
                    background-color: transparent;
                    border-color: transparent;
                }
            }

            &-item {
                color: $base-color;

                &:hover,
                &:focus {
                    color: $dark-blue-color-1;
                }

                @include breakpoint(ipad-min) {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.29rem;
                    letter-spacing: -0.17px;
                    color: $dark-grey-color-1;
                }

                @include breakpoint(mobile-max) {
                    color: #fff;
                    font-size: 1.14rem;
                    font-weight: 400;
                    line-height: 1.57rem;
                    letter-spacing: -0.19px;
                    padding: 1.14rem 0 0 0;
                    white-space: initial;

                    &:hover,
                    &:focus {
                        color: $light-blue-color-3;
                        background-color: transparent;
                    }
                }
            }
        }

        &__login-personname {
            margin-top: 98px;
            padding: 2rem 0 1.64rem 0;

            @include breakpoint(desktop-max) {
                margin-top: 88px;
            }

            @include breakpoint(ipad-max) {
                margin-top: 80px;
            }

            @include breakpoint(mobile-max) {
                margin-top: 57px;
                padding: 3.28rem 0 1.21rem 0;
            }

            .container {
                @include breakpoint(mobile-max) {
                    padding: 0 1.71rem;
                }
            }

            h1 {
                text-align: left;
                margin-bottom: 0;

                @include breakpoint(mobile-max) {
                    font-size: 2.57rem;
                    font-weight: bold;
                    letter-spacing: -0.43px;
                    line-height: 3rem;
                }
            }
        }

        &__browse-opportunities {
            @include breakpoint(ipad-min) {
                margin-right: 1.86rem;
            }

            @include breakpoint(mobile-max) {
                border-top: 4px solid $dark-grey-color-5;
                margin: 1.71rem 0 0 0;
            }
            
            .btn-secondary {
                padding: 0.57rem 6.14rem 0.57rem 0.86rem;
            }

            .dropdown {

                &-toggle {
                    
                    @include breakpoint(mobile-max) {
                        display: none;
                    }
                }

                &-menu {
                    @include breakpoint(mobile-max) {
                        position: static;
                        display: block;
                        border: none;
                        padding: 0;
                        background-color: transparent;
                    }
                }

                &-item {
                    @include breakpoint(mobile-max) {
                        font-size: 1.86rem;
                        letter-spacing: -0.31px;
                        line-height: 2.28rem;
                        font-weight: 700;
                    }
                }
            }
            .dropdown.show {
                .nav-link.dropdown-toggle {
                    &:after {
                        @include breakpoint(ipad-min) {
                            transform: translateY(-50%) rotate(180deg);
                        }
                        @include breakpoint(mobile-max) {
                            content: $icon-minus;
                        }
                    }
                }
            }
        }
    }
}

// @media all and (min-width: 992px) {
// 	.navbar .nav-item .dropdown-menu{ display: none; }
// 	.navbar .nav-item:hover .nav-link{ color: #fff;  }
// 	.navbar .nav-item:hover .dropdown-menu{ display: block; }
// 	.navbar .nav-item .dropdown-menu{ margin-top:0; }
// }