.common-accordion {
    background-color: transparent;

    .card {
        border: none;
        border-top: 4px solid $light-grey-color-1;
        border-bottom: 4px solid $light-grey-color-1;
        background-color: transparent;

        &-header {
            padding: 1.14rem 1.71rem;
            background-color: transparent;
            border-bottom: none;

            @include breakpoint(desktop-max) {
                padding: 1.14rem 0;
            }

            .btn-link {
                padding: 0;
                width: 100%;
                display: block;
                font-size: 1.42rem;
                line-height: 1.85rem;
                letter-spacing: -0.24px;
                font-weight: 700;
                position: relative;

                @include breakpoint(mobile-max) {
                    font-size: 1.14rem;
                    line-height: 1.38;
                    letter-spacing: -0.19px;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    font-size: 1rem;
                    line-height: 1.29rem;
                    letter-spacing: -0.01rem;
                }

                &:after {
                    content: $icon-minus;
                    position: absolute;
                    right: 0;
                    font-family: $icomoon-font-family;
                    font-size: 1rem;
                }

                &:hover,
                &:focus {
                    outline: none;
                    box-shadow: none;
                    text-decoration: none;
                }
            }

            .btn.collapsed {
                &:after {
                    content: $icon-plus;
                }
            }
        }

        &-body {
            padding: 0.57rem 1.71rem 2.28rem 1.71rem;

            @include breakpoint(mobile-max) {
                padding: 0 0 1.14rem 0;
            }
        }
    }

    .btn.collapsed {
        &:after {
            content: $icon-plus;
        }
    }

    .card.active {
        .btn-link {
            color: $dark-blue-color-1;
        }
    }

    &-with-number-count {
        counter-reset: counter-list-style-1;

        .card-header {
            padding: 1.14rem 1.71rem 1.14rem 3.71rem;

            @include breakpoint(mobile-max) {
                padding: 1.14rem 0 1.14rem 2rem;
            }
        }

        .btn {
            position: relative;

            &:before {
                counter-increment: counter-list-style-1;
                content: counter(counter-list-style-1)".";
                position: absolute;
                left: -28px;
            }
        }
    }
}