.btn {
    font-family: $primary-font;
    font-weight: 700;
    letter-spacing: -0.31px;
    line-height: 1.29rem;
    padding: 0.57rem 1.35rem;
    border-radius: 0.42rem;
    display: inline-block;
    // display: inline-flex;
    // align-items: center; 
    // justify-content: center;
    transition: .5s ease;

    @include breakpoint(portrait-mobile-max) {
        width: 100%;
    }
    
    &:hover {
        text-decoration: none;
        box-shadow: 0 12px 24px -7px rgba(0,0,0,0.5);
    }
    
    &:focus {
        @include breakpoint(ipad-min) {
            box-shadow: 0 0 0 4px $minty-green;
        }
    }

    &--primary {
        color: #fff;
        background-color: $base-color;
        border: none;

        &:disabled {
            background-color: $light-grey-color-2;
        }

        &:focus {
            color: #fff;
            background-color: $base-color;
        }

        &:hover {
            color: #fff;
            background-color: $dark-blue-color-1;
        }
        
    }

    &-secondary {
        padding: 0.35rem 1.14rem;
        background-color: #fff;
        border: 2px solid;

        
        &--primary {
            color: $base-color;
            border-color: $base-color;

            &:disabled {
                color: $base-color;
                background-color: transparent;
            }
    
            &:focus {
                color: $base-color;
                border-color: $base-color;
                background-color: transparent;
                
                @include breakpoint(ipad-min) {
                    box-shadow: 0 0 0 4px #BFFFDE;
                }
            }
    
            &:hover {
                color: #fff;
                background-color: $dark-blue-color-1;
                border-color: $dark-blue-color-1;
            }
        }

        &--white {
            color: #fff;
            border-color: #fff;
            background-color: transparent;

            &:disabled {
                background-color: $light-grey-color-2;
            }

            &:hover,
            &:focus {
                color: $light-blue-color-3;
                box-shadow: none;
                border-color: $light-blue-color-3;
                background-color: transparent;
            }

            &:focus {
                border-color: $minty-green;
                box-shadow: 0 0 0 4px $minty-green;
            }
        }
        
    }

    &-link {
        padding: 0;
    }
}