.common-table {
    &__lists {
        padding: 1.14rem;
        font-size: 1rem;
        line-height: 1.42rem;
        letter-spacing: 0.014rem;

        >div {
            display: flex;
            flex-flow: wrap;

            @include breakpoint(ipad-max) {
                align-items: flex-start;
            }
        }

        >div+div {
            margin-top: 1.71rem;
        }

        &-header {
            font-weight: 700;
            background: $light-grey-color-1;

            @include breakpoint(mobile-max) {
                display: none;
            }
        }

        &-body {
            padding: 1.71rem 1.14rem;
            margin-bottom: 2.85rem;
            border-bottom: 4px solid $light-grey-color-1;

            @include breakpoint(mobile-max) {
                padding: 0;
                border-bottom: 0;
                margin-bottom: 2.28rem;
            }

            .download-link {
                margin-right: 2.21rem;

                @include breakpoint(ipad-max) {
                    margin-right: .85rem;
                }
            }

            li {
                @include breakpoint(ipad-max) {
                    display: flex;
                    align-items: flex-start;
                }
            }
        }
    }
}