    .common-card {
        $self: &;
        &-wrap {    
            // justify-content: space-between;

            li+li {
                @include breakpoint(mobile-max) {
                    margin-top: 1.71rem;
                }
            }
        }

        &--one-col {

            >li + li {
                margin-top: 2.8%;
            }

            .common-card--style-1 {
                width: 100%;

                .card {
                    .course-list__list {
                        li {
                            color: $base-color;
                        }
                    }
                }

                &:hover {
                    .card {
                        .course-list__list {
                            li {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        &--two-col {

            >li {
                &:nth-child(2n + 1) {
                    margin-top: 2.8%;
                    margin-left: 0;
                }

                &:first-child {
                    margin-top: 0;
                }
            }

            >li+li {
                @include breakpoint(ipad-min) {
                    margin-left: 2.58%;
                }
            }


            .common-card--style-1 {
                width: 48.71%;
            }
        }

        &--three-col {

            >li+li {
                @include breakpoint(ipad-min) {
                    margin-left: 2.58%;
                }
            }

            .common-card--style-1 {
                width: 31.61%;
            }
        }

        &--four-col {
            .common-card--style-1 {
                width: 23.06%;
            }
        }

        &--two-col,
        &--three-col,
        &--four-col {
            .common-card--style-1 {

                @include breakpoint(mobile-max) {
                    width: 100%;
                }
            }
        }

        &-application {
            &#{$self}--three-col {
                >li {
                    @include breakpoint(ipad-max) {
                        width: 48%;
                    }
        
                    @include breakpoint(mobile-max) {
                        width: 100% !important;
                    }
                    
                    &:nth-child(3n + 1) {
                        @include breakpoint(desktop-min) {
                            margin-left: 0 !important;
                        }
                    }
    
                    &:nth-child(2n + 1) {
                        @include breakpoint(ipad-max) {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
            &#{$self}--two-col {
                >li {
                    &:nth-child(2n + 1) {
                        margin-top: 0;
                        margin-left: 0;
                    }
                }
            }
            &#{$self}--one-col {

                >li + li {
                    margin-top: 0;
                }
            }
        }

        &--style-1 {
            background-color: #FFFFFF;
            border-radius: 0.57rem;
            box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
            padding: 1.71rem 0 1.71rem 2.28rem;
            border-left: 0.57rem solid $base-color;
            transition: .5s ease all;

            @include breakpoint(desktop-max) {
                padding: 1.42rem 1.89rem;
            }

            @include breakpoint(ipad-max) {
                padding: 1.1rem 1.46rem;
            }

            @include breakpoint(mobile-max) {
                padding: 1.71rem;
            }

            &:hover,
            &:focus {
                cursor: pointer;
                background-color: $dark-blue-color-1;
                border-color: $dark-blue-color-1;

                a {
                    color: #fff;

                    p {
                        color: #fff;
                    }
                }
            }

            a {
                color: $base-color;
                display: block;
            }

            &__icons {
                margin-bottom: 0.86rem;

                [class^="icon-"],
                [class*=" icon-"] {
                    display: block;

                    &:before {
                        font-size: 5.72rem;

                        @include breakpoint(desktop-max) {
                            font-size: 4.76rem;
                        }

                        @include breakpoint(ipad-max) {
                            font-size: 3.68rem;
                        }

                        @include breakpoint(mobile-max) {
                            font-size: 4.28rem;
                        }
                    }
                }
            }

            &__title {
                margin: 0;


                @include breakpoint(desktop-max) {
                    font-size: 1.54rem;
                    line-height: 1.91rem;
                }

                @include breakpoint(ipad-max) {
                    font-size: 1.19rem;
                    line-height: 1.48rem;
                }

                @include breakpoint(mobile-max) {
                    font-size: 1.43rem;
                    letter-spacing: -0.24px;
                    line-height: 1.86rem;
                }
            }

            &__text {
                width: 50%;
                color: $dark-grey-color-1;
                margin: 0.86rem 0 0 0;
                line-height: 1.43rem;

                @include breakpoint(desktop-max) {
                    line-height: 1.19rem;
                }

                @include breakpoint(mobile-max) {
                    width: 90%;
                    line-height: 1.43rem;
                }
            }
        }

        &--style-2 {
            @extend .common-card--style-1;
            margin-bottom: 3.43rem;
            padding: 0;

            @include breakpoint(mobile-max) {
                margin-bottom: 2rem;
            }

            &.border--darkblue {
                border-color: $dark-blue-color-1;
            }

            &.border--lightblue {
                border-color: $base-color;
            }

            &.border--lightblue-2 {
                border-color: $light-blue-color-2;
            }

            a {

                &:hover,
                &:focus {
                    outline: none;
                }
            }

            .tags-block {
                margin: 1.14rem 0;

                @include breakpoint(portrait-mobile-max) {
                    margin: 0.57rem 0 1.14rem 0;                    
                }

                .tags {
                    @include breakpoint(portrait-mobile-max) {
                        display: inline-block;
                        margin: 0.57rem 0 0 0;                    
                    }                    
                }
            }

            &:hover {
                border-left-color: $dark-blue-color-2;

                .card {
                    color: #fff;

                    &-title {
                        color: #fff;
                    }
                }

                .card-header {
                    background: $dark-blue-color-2;

                    &-icon {
                        i {
                            color: #fff;
                        }
                    }
                }

                .card-body {
                    .block-fourthtitle {
                        color: #fff;
                    }

                    ul {
                        li {
                            color: #fff;

                            i {
                                color: #fff;
                            }
                        }
                    }
                }

                .course-list__list {
                    i {
                        &:before {
                            color: #fff;
                        }
                    }
                }
            }

            .card {
                background: transparent;
                border: 0;

                &-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: none;
                    background: $light-grey-color-1;
                    border-top-right-radius: 0.57rem !important;
                    padding: 0.857rem 1.21rem 0.857rem 1.71rem;
                    transition: 0.5s all;

                    &-icon {
                        i {
                            font-size: 3.428rem;
                            color: $light-grey-color-2;

                            @include breakpoint(mobile-max) {
                                font-size: 2.857rem;
                            }
                        }
                    }
                }

                &-title {
                    color: $dark-grey-color-1;
                    font-weight: 700;
                    line-height: 1.42rem;
                }

                &-body {
                    @include border-radius(0);
                    padding: 1.142rem 1.21rem 1.71rem 1.71rem;
                    border-bottom-left-radius: 0.57rem !important;
                    border-bottom-right-radius: 0.57rem !important;

                    ul {
                        li {
                            color: $dark-grey-color-1;
                            font-weight: normal;
                            font-size: 1rem;
                            line-height: 1.42rem;
                            letter-spacing: -0.014rem;
                            margin-bottom: 0.285rem;

                            i {
                                color: $light-grey-color-2;
                                margin-right: 0.57rem;

                                &.icon {
                                    &-progress {
                                        &-75 {
                                            color: #43ff9e;
                                        }

                                        &-100 {
                                            color: #ff8a00;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .block-fourthtitle {
                        margin: 0;
                    }
                }
            }
        }
    }