.common-modal {
    .modal-dialog {
        min-width: 996px;

        // min-width: 792px;
        @include breakpoint(desktop-min) {
            min-width: 792px;
        }

        @include breakpoint(ipad-max) {
            min-width: 700px;
        }

        @include breakpoint(mobile-max) {
            margin: 1.71rem auto;
            min-width: auto;
            padding: 0 1.71rem;
        }

        p {
            font-size: 1rem;
            margin: 0;
            line-height: 1.42rem;
        }

        .modal-header {
            margin-bottom: 2.285rem;

            @include breakpoint(mobile-max) {
                margin-bottom: 1.142rem;
            }
        }
    }

    &--title {
        margin-bottom: 1.142rem;

        @include breakpoint(mobile-max) {
            font-size: 1.42rem;
        }
    }

    &--subtitle {
        font-size: 1.85rem;
        font-weight: 700;
        letter-spacing: -0.31px;
        line-height: 2.28rem;
        margin-bottom: 1.14rem;
    }

    &--without-para {
        margin-bottom: 0;
    }

    .modal-content {
        padding: 2.85rem;
        border-radius: 0.57rem;
        box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.25);

        @include breakpoint(ipad-max) {
            padding: 2.28rem 1.71rem 2.28rem 1.71rem;
        }

        @include breakpoint(mobile-max) {
            padding: 2.28rem 1.71rem 2.28rem 1.71rem;
        }

        .modal-body {
            padding: 0;
        }

        .modal-header {
            border: 0;
            padding: 0;

            .close {
                position: absolute;
                top: 1.71rem;
                right: 1.71rem;
                opacity: 1;
                color: $dark-grey-color-1;
                font-size: 1.142rem;

                &:focus,
                &:hover {
                    outline: none;
                    border: 0;
                    box-shadow: none;
                }
            }
        }

        .modal-footer {
            padding: 0;
            border-top: 4px solid $light-grey-color-1;
            padding-top: 2.785rem;
            margin-top: 2.785rem;

            @include breakpoint(mobile-max) {
                padding-top: 1.64rem;
                margin-top: 1.64rem;
            }

            .btn {
                margin: 0;

                @include breakpoint (mobile-max) {
                    margin-bottom: 0.857rem;
                    margin-right: .57rem;
                }

                &:last-child {
                    @include breakpoint (mobile-max) {
                        margin-right: 0;
                    }
                }

                &-secondary--primary {
                    margin-right: 1.71rem;

                    @include breakpoint (mobile-max) {
                        // margin-bottom: 0.857rem;
                        margin-right: .57rem;
                    }
                }

            }
        }
    }

    .form-group {
        margin-bottom: 1.14rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint (mobile-max) {
            margin-bottom: 1.14rem;
        }

        label {
            margin-bottom: 0.85rem;
            font-weight: bold;
        }

        .input-group {
            .form-control {
                width: auto;

                @include breakpoint (mobile-max) {
                    width: 100px;
                }

                @include breakpoint(custom-alt-small-iphone5-max) {
                    width: 40px;
                }
            }
        }

        .form-control {
            width: 100%;
        }
    }

}

.addTeamMemberModal {
    .modal-dialog {

        // min-width: 588px;
        @include breakpoint(medium-large-desktop-min) {
            min-width: 588px;
        }
    }
}

.errorModal {
    .modal-header {
        margin-bottom: 0 !important;

        @include breakpoint(mobile-max) {
            margin-bottom: 4.57 !important;
        }
    }

    i {
        font-size: 4.28rem;
        color: $regular-red;
    }

    p {
        margin-bottom: .57rem !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.student-modal {
    ul {
        list-style: decimal;
        padding-left: 1.07rem;

        li {
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.29rem;
            letter-spacing: -0.01rem;
            margin-bottom: .57rem;
        }
    }

    p {
        &.help--heading {
            margin-top: 2.28rem;
        }
    }
}

.createEventModal {
    .form-group {
        .input-group .form-control {
            width: 100px;
            ;

            @include breakpoint(mobile-max) {
                width: 100px;

            }

            @include breakpoint(custom-alt-small-iphone5-max) {
                width: 40px;
            }
        }
    }

    textarea {
        height: 193px;

        @include breakpoint(mobile-max) {
            height: auto;
        }
    }
}