.com {
    &-mt- {
        &-4 {   
            margin-top: 0.28rem;
        }
        &-8 {   
            margin-top: 0.57rem;
        }
        &-16 {   
            margin-top: 1.14rem;
        }
        &-20 {   
            margin-top: 1.43rem;
        }
        &-24 {   
            margin-top: 1.71rem;
        }
        &-32 {   
            margin-top: 2.28rem;
        }
        &-40 {   
            margin-top: 2.85rem;
        }
    }
    &-mt-m {
        &-32 {
            @include breakpoint(mobile-max) {
                margin-top: 2.28rem;
            }
        }        
    }
    &-mb- {
        &-4 {   
            margin-bottom: 0.28rem;
        }
        &-8 {   
            margin-bottom: 0.57rem;
        }
        &-16 {   
            margin-bottom: 1.14rem;
        }
        &-20 {   
            margin-bottom: 1.43rem;
        }
        &-24 {   
            margin-bottom: 1.71rem;
        }
        &-32 {   
            margin-bottom: 2.28rem;
        }
        &-40 {   
            margin-bottom: 2.85rem;
        }
        &-48 {   
            margin-bottom: 3.43rem;
        }
    }
}
