.bootstrap-datetimepicker-widget {

    &:before,
    &:after {
        border: 0;
        display: none;
    }

    &.dropdown-menu {
        padding: 0;

        &:before,
        &:after {
            border: 0;
            display: none;
        }
    }

    .datepicker {
        .datepicker-days {
            .table-condensed {
                thead {
                    tr {
                        th {
                            font-size: 12px;
                            border-radius: 0;
                            ;

                            &.prev,
                            &.next {
                                padding: 8px 12px;
                            }

                            &.picker-switch {
                                font-size: 16px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.38;
                                letter-spacing: -0.19px;
                                color: #ffffff;
                            }
                        }

                        &:first-child {
                            background: $base-color;
                            color: #fff;

                            th {
                                &:hover {
                                    background: $dark-blue-color-1;
                                }
                            }
                        }

                        &:last-child {
                            th {
                                font-size: 14px;
                                font-weight: normal;
                                font-style: normal;
                                line-height: 1.43;
                                letter-spacing: -0.17px;
                                text-align: center;
                                color: #b9b8b8;
                                text-transform: uppercase;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            width: 20px;
                            height: 20px;
                            padding: 0;

                            &.day {
                                width: 20px;
                                height: 20px;
                                padding: 0;

                                &:hover {
                                    background: $base-color;
                                    color: #fff;
                                }

                                &.old {
                                    // border: 1px solid #f00;
                                    border-radius: 50px;
                                    width: 36px;
                                    height: 36px;

                                    &:last-child {
                                        // border: 1px solid #f00;
                                    }
                                }

                                &.new,
                                &.old {
                                    background: transparent;
                                    color: #b9b8b8;
                                }
                            }

                            &.day,
                            &.active,
                            &.today {
                                border-radius: 50px;
                                background: none;
                                width: 36px;
                                height: 36px;
                                transition: .5s all;
                                ;
                            }

                            &.active {
                                background: $dark-blue-color-1;
                                color: #fff;
                            }

                            &.active {
                                // border: solid 1px #ff4500;
                            }

                            &:before {
                                display: none;
                            }

                            &:last-child {
                                margin-right: 0;
                            }

                            span {
                                &.year {
                                    height: 40px;
                                    line-height: 40px;
                                    ;

                                    &.active {
                                        background: $base-color;
                                        color: #fff;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }

    &.timepicker-minute {}

    table {
        td {
            width: 30px;
            height: 30px;
            line-height: 30px;
            ;
            padding: 0;

            a {
                &:hover {
                    box-shadow: none;
                    background: none;
                }
            }

            span,
            i {
                &:hover {
                    box-shadow: none;
                    background: none;
                }

                &.month {
                    // width: 30px; height: 30px; line-height: 30px;
                    height: 30px;
                    line-height: 30px;

                    &:hover {
                        background-color: $base-color;
                        color: #fff;
                    }

                    &.active {
                        background-color: $dark-blue-color-1;
                        color: #fff;
                    }
                }

                &.year {
                    height: 30px;
                    line-height: 30px;

                    &:hover {
                        background-color: $base-color;
                        color: #fff;
                    }

                    &.active {
                        background-color: $dark-blue-color-1;
                        color: #fff;
                    }
                }
            }

            i {
                width: 30px;
                height: 30px;
                line-height: 30px;
                ;
                margin: 0;
            }

            &.hour,
            &.minute {
                &:hover {
                    background-color: $dark-blue-color-1;
                    color: #fff;
                }
            }

            span {
                .month {
                    &.active {
                        background-color: $dark-blue-color-1;
                        color: #fff;
                    }
                }
            }
        }
    }

    .timepicker-hour,
    .timepicker-minute {
        width: 30px;
        font-weight: normal;
        height: 30px;
        line-height: 30px;
        font-size: 1rem;
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after,
.bootstrap-datetimepicker-widget.dropdown-menu.top::before {
    display: none;
}


.ui-datepicker {
    width: 18rem !important
}

.ui-widget.ui-widget-content {
    padding: 0;
    box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5) !important;
    border: solid 2px #2f64ff !important;
    border-radius: 4px !important;
}

.ui-widget-header {
    border: 0 !important;
    background: #2f64ff !important;
    color: #fff;
    border-radius: 0 !important;
}

.ui-datepicker .ui-datepicker-title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: -0.19px !important;
    color: #ffffff;
}

.ui-datepicker th span {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.43 !important;
    letter-spacing: -0.17px !important;
    text-align: center !important;
    color: #b9b8b8 !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: #fff !important;
    border: 0 !important;
    color: #373737 !important;
    margin: auto;
}

.ui-datepicker td {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    border-radius: 50% !important;
    transition: 0.5s all;
}

.ui-datepicker td span,
.ui-datepicker td a {
    text-align: center !important;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    border-radius: 50% !important
}

.ui-datepicker td:hover a,
.ui-datepicker td:hover span {
    background: #2f64ff !important;
    color: #fff !important;
}

// for today
.ui-datepicker td.ui-datepicker-today a,
.ui-datepicker td.ui-datepicker-today span {
    background: #13007c !important;
    color: #fff !important;
}

// for cureent day
.ui-datepicker td.ui-datepicker-current-day a,
.ui-datepicker td.ui-datepicker-current-day span {
    background: #2f64ff !important;
    color: #fff !important;
}

.ui-widget-header .ui-icon {
    background-image: none !important;
    text-indent: 0 !important;
    color: #2f64ff !important
}

.ui-datepicker-next .ui-icon,
.ui-datepicker-prev .ui-icon {
    position: relative;
}

.ui-datepicker-prev .ui-icon:before,
.ui-datepicker-next .ui-icon:before {
    position: absolute;
    left: 0;
    display: block;
    position: absolute;
}

.ui-datepicker-prev .ui-icon:before {
    content: '\e910';
    font-family: "icomoon" !important;
    color: #fff;
    transform: rotate(90deg);
}

.ui-datepicker-next .ui-icon:before {
    content: '\e910';
    font-family: "icomoon" !important;
    color: #fff;
    transform: rotate(-90deg);
}

.ui-datepicker-prev-hover,
.ui-state-hover {
    background: none !important;
    border: 0 !important;
}