// dropdown css
.dropdown {
    &:focus {
        outline: none;
        box-shadow: 0 4px 0 4px $minty-green;
    }

    &--right {
        .dropdown-menu {
            left: auto;
            right: 0;
            text-align: right;
        }
    }

    &-menu {
        width: auto;
        min-width: 100%;
        border: 2px solid $dark-blue-color-1;
        padding: 0;
        margin: 0;
        border-top: 0px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 1;

        &:focus {
            outline: none;

            @include breakpoint(ipad-min) {
                box-shadow: 0 4px 0 4px $minty-green;
            }
        }

        &:hover,
        &:focus {
            @include breakpoint(mobile-max) {
                box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
            }
        }
    }

    &-menu.show {
        border-top-color: #fff;
        // top: 100% !important;
        // transform: initial !important;

        @include breakpoint(mobile-max) {
            box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
        }

        &:focus {
            outline: none;
            box-shadow: none;

            @include breakpoint(ipad-min) {
                box-shadow: 0 4px 0 4px $minty-green;
            }
        }
    }

    &-item {
        color: $base-color;
        font-weight: 700;
        padding: 0.57rem 1.14rem;
        transition: .5s ease;

        &:hover,
        &:focus {
            color: $dark-blue-color-1;
            background-color: transparent;
        }
    }

    .btn-secondary {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.57rem 6.14rem 0.57rem 0.86rem;
        width: 280px;

        // @include breakpoint(desktop-max) {
        //     width: 233px;
        // }

        // @include breakpoint(ipad-max) {
        //     width: 170px;
        // }
        
        // @include breakpoint(mobile-max) {
        //         width: 100%;
        // }

        &:after {
            position: absolute;
            content: $icon-down-arrow;
            top: 50%;
            right: 0.86rem;
            font-family: $icomoon-font-family;
            font-size: 1rem;
            color: $base-color;
            line-height: 1;
            border: none;
            transform: translateY(-50%);
            margin-left: 86px;
        }

        &--primary {
            transition: .5s ease;

            &:hover,
            &:focus {
                color: $dark-blue-color-1;
                background-color: #fff;
                box-shadow: none;
                border-color: $dark-blue-color-1;
            }

            &:active {
                color: $dark-blue-color-1 !important;
                background-color: #fff !important;
                box-shadow: none !important;
                border-color: $base-color !important;
            }
        }
    }

    &.show {

        .btn-secondary {
            color: #18009E;
            background-color: #fff;
            border-color: #18009E;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            @include breakpoint(mobile-max) {
                box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
            }
            
            &:focus {
                box-shadow: none;

                @include breakpoint(ipad-min) {
                    box-shadow: 0 0 0 4px $minty-green;
                }

            }

            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}