.filter-box {
    $self:&;
    width: 280px;

    @include breakpoint(desktop-max) {
        width: 233px;
    }

    @include breakpoint(ipad-max) {
        width: 170px;
    }
   
    @include breakpoint(mobile-max) {
        width: 49%;
    }

    .btn {
        span{
            @include breakpoint(desktop-max){
                width: 80px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
            }
        }
    }

    &__btn,
    &__btn-2,
    &__deliverable-btn,
    &__style-2-btn {
        width: 280px;
        text-align: left;
        position: relative;
        background-color: #fff;
        display: flex;

        @include breakpoint(desktop-max) {
            width: 233px;
        }

        @include breakpoint(ipad-max) {
            width: 170px;
        }
        
        @include breakpoint(mobile-max) {
                width: 100%;
        }

        &:hover {
            color: $dark-blue-color-1;
            border-color: $dark-blue-color-1;
            background-color: #fff;
            
            @include breakpoint(ipad-min) {
                box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
            }
            
            @include breakpoint(mobile-max) {
                box-shadow: none;
            }

            &:after {
                color: $dark-blue-color-1;
            }
        }


        &:after {
            position: absolute;
            right: 0.57rem;
            content: $icon-down-arrow;
            font-family: $icomoon-font-family;
            color: $base-color;
            font-size: 1.43rem;
            top: 50%;
            transform: translateY(-50%);
        }

        &-down-active {
            color: $dark-blue-color-1 !important;
            border-color: $dark-blue-color-1 !important;
            background-color: #fff !important;

            &:after {
                color: $dark-blue-color-1;
                transform: translateY(-50%) rotate(180deg);
            }
        }

        &-add {
            &:after {
                content: $icon-tick-2;
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }

    .checkbox-input-box p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.29rem;
        letter-spacing: -0.01rem;
    }

    &--style-2 {
        margin-left: 0.57rem;

        @include  breakpoint(ipad-min) {
            position: relative;
        }

        @include breakpoint(mobile-max) {
            width: 49%;
        }

        .btn {
            span{
                @include breakpoint(desktop-max){
                    width: 80px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: inline-block;
                }
            }
        }
        
        .filter-box__style-2-btn-down-active {
            background-color: #fff;
            @include breakpoint(ipad-min) {
                border-bottom: none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .filter-box__content {
            width: 100%;
            margin: 0;
            padding: 0.5rem 1rem 1rem 1rem;

            @include breakpoint(ipad-min) {
                border-top: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                box-shadow: none;
            }

            @include breakpoint(mobile-max) {
                margin-top: 0.57rem;
            }

            &:focus {
                box-shadow: 0 4px 0 4px $minty-green;
            }
        }

        .checkbox-input-box p{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.29rem;
            letter-spacing: -0.01rem;
            padding-left: 2.57rem;
            padding-top: 0.14rem;
        }

        .checkbox-input-box + .checkbox-input-box {
            margin-top: 0.57rem;
        }
    }

    &__content {
        position: absolute;
        left: 0;
        top: 100%;
        border: 2px solid $dark-blue-color-1;
        border-radius: 0.42rem;
        background-color: #fff;
        margin-top: 12px;
        padding: 1.14rem;
        box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
        z-index: 2;

        .row {
            height: 184px;
            overflow-y: auto;
            
            @include breakpoint(mobile-max) {
                margin-bottom: 1rem;
            }
        }

        &-three-col {
            width: 100%;
        }

        &-two-col {
            width: 66%;

            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }

        &-one-col {
            width: 33%;

            @include breakpoint(mobile-max) {
                width: 100%;
            }

            .row > div {
                @include breakpoint(mobile-max) {
                    border: none !important;
                    padding: 0 !important;
                    margin-bottom: 0 !important;
                }
            }

            .custom-accordion:after {
                display: none;
            }

            .panel {
                max-height: 100%;
            }
        }

        .row>div {
            @include breakpoint(mobile-max) {
                // margin-bottom: 1.14rem;
                // padding: 0 0 1.14rem 0;
                // border-bottom: 4px solid $light-grey-color-1;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;

        @include breakpoint(ipad-min) {
            padding-top: 1.07rem;
            margin-top: 1.07rem;
            border-top: 4px solid $light-grey-color-1;
        }

        .btn {
            @include breakpoint(mobile-max) {
                width: auto;
            }
        }

        .btn--primary {
            margin-left: 1.14rem;
        }
    }
}

// custom accordion
.custom-accordion {
    background-color: transparent;
    color: $dark-grey-color-1;
    padding: 0;
    width: 100%;
    height: 22px;
    font-weight: 700;
    border: none;
    text-align: left;
    margin-bottom: 1.14rem;
    cursor: pointer;

    @include breakpoint(mobile-max) {
        height: 16px;
        color: $base-color;
        font-size: 1.14rem;
        line-height: 1.57rem;
        letter-spacing: -0.19px;
        margin-bottom: 0;
    }

    &:focus {
        outline: none;
    }


    &:after {
        @include breakpoint(mobile-max) {
            content: $icon-plus;
            font-family: $icomoon-font-family;
            color: $base-color;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
    }
}


.custom-accordion.active:after {
    @include breakpoint(mobile-max) {
        content: $icon-minus;
    }
}

.panel {
    max-height: 100%;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    @include breakpoint(mobile-max) {
        // max-height: 0;
    }

    ul {
        @include breakpoint(ipad-min) {
            padding: 4px;
        }
        li {
            margin-bottom: 0.86rem;

            &:first-child {
                @include breakpoint(mobile-max) {
                    margin-top: 1.071rem;
                }
            }

            &:last-child {
                @include breakpoint(mobile-max) {
                    margin-bottom: 0;
                }
            }
        }
    }
}