.form-group {
    .input-group {
        &-append {}

        &-text {
            background: $base-color;
            color: #fff;
            border-top-right-radius: .28rem;
            border-bottom-right-radius: .28rem;
            border-color: $base-color;
        }
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.form-control {
    padding: .57rem .85rem;
    min-height: 36px;
    border: 2px solid $base-color;
    border-radius: 0.28rem;
    font-size: 1rem;
    // color: #b9b8b8;
    line-height: 1.43;
    letter-spacing: -0.0121rem;
    font-weight: normal;
    width: 280px;
    background: #fff;

    @include breakpoint(ipad-max) {
        width: 192px;
    }

    @include breakpoint(mobile-max) {
        width: 100%;
    }

    &:focus {
        box-shadow: none;
        border-color: $dark-blue-color-1;

        @include breakpoint(ipad-min) {
            box-shadow: 0 0 0 4px $minty-green;
        }
    }

    &::-webkit-input-placeholder {
        /* Edge */
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.42rem;
        letter-spacing: 0.014rem;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.42rem;
        letter-spacing: 0.014rem;
    }

    &::placeholder {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.42rem;
        letter-spacing: 0.014rem;
    }

    &.active,
    &:active {
        border-color: $dark-blue-color-1;
    }

    &.completed {
        border-color: $minty-green-2;
    }

    &.error {
        border-color: $regular-red-3;
    }

    &.warning {
        border-color: $light-orange;
    }

    &:disabled {
        border-color: $light-grey-color-4;
    }

    &--with-icon {
        &--search {
            position: relative;

            &:before {
                content: '\e91e';
                position: absolute;
                color: $base-color;
                right: 0;
                font-family: icomoon !important;
            }
        }

        &--completed {
            position: relative;

            &:before {
                content: '\e91f';
                position: absolute;
                right: 0;
                font-family: icomoon !important;
            }
        }

        &--error {
            position: relative;

            &:before {
                content: '\e91a';
                position: absolute;
                right: 0;
                font-family: icomoon !important;
            }
        }

        &--view {
            position: relative;

            &:before {
                content: '\e91b';
                position: absolute;
                right: 0;
                font-family: icomoon !important;
            }
        }
    }
}

.inp-icon {
    position: relative;

    &:before {
        position: absolute;
        color: $base-color;
        right: 0.57rem;
        top: 50%;
        font-family: '#{$icomoon-font-family}';
        transform: translateY(-50%);
        // z-index: 1;
        font-size: 1.28rem;
    }

    &--search {
        &:before {
            content: $icon-search;
        }

        .form-control {
            &::-webkit-input-placeholder {
                /* Edge */
                font-weight: bold;
                color: $base-color;
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                font-weight: bold;
                color: $base-color;
            }

            &::placeholder {
                font-weight: bold;
                color: $base-color;
            }
        }
    }

    &--date {
        &:before {
            content: $icon-calendar;
        }
    }

    &--time {
        &:before {
            content: $icon-clock;
        }
    }

    &--completed {
        &:before {
            content: $icon-success;
        }
    }

    &--error {
        &:before {
            content: $icon-error;
        }
    }

    &--view {
        &:before {
            content: $icon-eye;
        }
    }

    &--select {
        &:before {
            content: $icon-down-arrow;
        }
    }

    &--password {
        width: 280px;

        @include breakpoint(ipad-max) {
            width: 192px;
        }

        @include breakpoint(mobile-max) {
            width: 100%;
        }

        .icon-eye {
            content: '';
            position: absolute;
            top: 0.57rem;
            right: 0.57rem;
            font-size: 1.42rem;
            color: $base-color;
        }
    }
}

// switch scss
.custom-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 12px;
    padding: 4px;
    margin: 0;
    $self: &;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:focus+#{$self}__slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+#{$self}__slider:before {
            background-color: $base-color;
            transform: translateX(26px) translateY(-50%);
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid $base-color;
        background-color: #fff;
        transition: .5s ease;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            width: 24px;
            height: 24px;
            left: -12px;
            top: 50%;
            background-color: white;
            transition: .5s ease;
            border: 2px solid $base-color;
            border-radius: 100%;
            transform: translateY(-50%);
        }
    }
}

// custome file input 
.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

// .custom-file-input::before {
//     content: 'Select some files';
//     color: black;
//     display: inline-block;
//     /*   background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
//     border: 1px solid #999; */
//     border-radius: 3px;
//     padding: 5px 8px;
//     outline: none;
//     white-space: nowrap;
//     -webkit-user-select: none;
//     cursor: pointer;
//     text-shadow: 1px 1px #fff;
//     font-weight: 700;
//     font-size: 10pt;
// }

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active {
    outline: 0;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#filedrag {
    /*display: none;*/
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

#filedrag.hover {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

// third party selecr2 css
.select2 {
    width: 100% !important;

    &-container {
        &--open {
            .select2-dropdown {
                // z-index: 1;
            }
        }
    }

    &-results__message {
        font-size: 1rem;
        line-height: 1.42rem;
        letter-spacing: 0.012rem;
        padding: 1.57rem 2.57rem !important;
        text-align: center;
        color: #373737;

        a {
            font-weight: bold;
            color: $base-color;
            display: block;
            margin-top: 0.28rem;
            ;
        }
    }

    &--default {}

    &-selection {
        &--single {
            outline: none;
        }

        &__rendered {
            color: $dark-grey-color-1;
            font-size: 1rem;
            line-height: 1.42rem;
        }
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    // color: $dark-grey-color-1; font-size: 1rem; line-height: 1.42rem;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    height: calc(1.5em + .75rem + 2px) !important;
    border-radius: .28rem !important;
    border: 2px solid $base-color !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 2px solid $base-color !important;
    border-radius: .28rem;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.select2-dropdown {
    margin-top: 0.57rem;
    border: 2px solid $base-color !important;
    border-radius: .28rem !important;
}

.select2-container--open .select2-dropdown--below {
    border-top: 2px solid $base-color !important;
    border-top-left-radius: 0.28rem !important;
    border-top-right-radius: 0.28rem !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: $dark-blue-color-1 !important;
    color: #fff !important;
}

.select2-container--default .select2-search--dropdown.select2-search {
    position: relative;

    &:before {
        content: $icon-search;
        font-family: $icomoon-font-family;
        position: absolute;
        right: .85rem;
        top: 50%;
        transform: translateY(-50%);
        color: $base-color;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple .select2-selection__arrow {
    right: .4rem;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default .select2-selection--multiple .select2-selection__arrow b {
    border: 0 !important;
    margin-left: -13px !important;
    margin-top: -5px !important;
    font-size: 1.43rem;
    color: $base-color;

    &:before {
        // content: $icon-back;
        content: $icon-down-arrow;
        font-family: $icomoon-font-family;
        color: $base-color;
    }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before,
.select2-container--default.select2-container--open .select2-selection--multiple .select2-selection__arrow b:before {
    // content: $icon-back;
    content: $icon-down-arrow;
    font-family: $icomoon-font-family;
    color: $base-color;
    transform: rotate(180deg);
    display: inline-block;

}

.select2.select2-container.select2-container--default .select2-selection.select2-selection--multiple {
    position: relative;

    &:before {
        // content: $icon-back;
        content: $icon-down-arrow;
        font-family: $icomoon-font-family;
        color: $base-color;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open .select2-selection.select2-selection--multiple {
    position: relative;

    &:before {
        // content: $icon-back;
        content: $icon-down-arrow;
        font-family: $icomoon-font-family;
        color: $base-color;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: -2px;
        transform: rotate(180deg) translateY(-50%);
    }
}

.select2-selection.select2-selection--multiple:hover,
.select2-selection.select2-selection--multiple:focus {
    -webkit-box-shadow: 0 0 0 4px #BFFFDE;
    -moz-box-shadow: 0 0 0 4px #BFFFDE;
    box-shadow: 0 0 0 4px #BFFFDE;
    border-color: #18009E;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $base-color !important;
    border: 1px solid $base-color !important;
    color: #fff !important;
    font-size: 0.85rem !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid $dark-blue-color-1 !important;
    color: #fff !important;
    margin-right: 4px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: $dark-blue-color-1 !important;
}

// form vbalidation
.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: $regular-red-3;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: $regular-red-3;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .1);
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: $minty-green-2;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: $minty-green-2;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, .1);
}

.input-group {
    position: relative;
}

.invalid-feedback,
.valid-feedback {
    font-size: 0.85rem;
    line-height: 1.28rem;
    letter-spacing: -0.01rem;
    color: $dark-grey-color-1;
    position: relative;
}

.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none !important;
    background: #fff;
}

.was-validated .text-invalid.invalid-feedback:before,
.invalid-feedback.text-invalid:before,
.inp-passowrd--invalid.inp-icon--password .icon-eye:before {
    content: '\e91a';
    font-family: $icomoon-font-family;
    position: absolute;
    top: -20px;
    transform: translateY(-50%);
    font-size: 12px;
    display: block;
    right: 10px;
    color: $regular-red-3;
    font-size: 1.14rem;
}

.inp-passowrd--invalid.inp-icon--password .icon-eye:before {
    top: 10px;
    right: 0;
}

.create-project-content .form-group .input-group .form-control {
    background: #fff;
}

.was-validated .text-valid.valid-feedback:before,
.valid-feedback.text-valid:before {
    content: '\e91f';
    font-family: $icomoon-font-family;
    position: absolute;
    top: -20px;
    transform: translateY(-50%);
    font-size: 12px;
    display: block;
    right: 10px;
    color: $minty-green-2;
    font-size: 1.14rem;
}

.input-group .invalid-feedback:before,
.input-group .valid-feedback:before {
    right: 45px;
}