.hero-banner {

    .container {
        @include breakpoint(mobile-max) {
            padding: 0 1.71rem;
        }
    }

    &-text {
        @include breakpoint(mobile-max) {
            text-align: center;
            margin-bottom: 2.35rem;
        }

        &__title {
            font-family: $primary-font;
            font-size: 4.57rem;
            font-weight: 700;
            letter-spacing: -0.76px;
            line-height: 4.85rem;
            margin: 6.71rem 0 3.64rem 0;

            @include breakpoint(desktop-max) {
                font-size: 3.8rem;
                line-height: 4.03rem;
                margin: 5.58rem 0 3.03rem 0;
            }

            @include breakpoint(ipad-max) {
                font-size: 3.14rem;
                line-height: 3.33rem;
                margin: 4.61rem 0 2.50rem 0;
            }

            @include breakpoint(mobile-max) {
                font-size: 2.57rem;
                letter-spacing: -0.43px;
                line-height: 3rem;
                margin: 0 0 2.28rem 0;
            }
        }

        &__desc {
            width: 81%;
            margin-bottom: 3.64rem;

            @include breakpoint(desktop-max) {
                margin-bottom: 3.03rem;
            }

            @include breakpoint(ipad-max) {
                margin-bottom: 2.50rem;
            }

            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }

        .btn {
            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }
    }

    &-video {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &-mobile-video {
        position: relative;
        z-index: 1;
        padding: 1.43rem 0 2.86rem 0;

        @include breakpoint(desktop-max) {
            padding: 1.14rem 0 2.36rem 0;
        }

        &__img {
            width: 287px;
            height: 100%;
            position: relative;
            z-index: 1;

            @include breakpoint(desktop-max) {
                width: 238px;
            }

            @include breakpoint(ipad-max) {
                width: 196px;
            }

            @include breakpoint(mobile-max) {
                height: 416px;
                width: 216px;
            }
        }

        &__iframe {
            background-color: #171717;
            left: 11px;
            min-height: 434px;
            position: absolute;
            top: 49%;
            transform: translate(0%, -50%);
            width: 266px;
            z-index: 1;
            border: none;
            display: block;
            margin: 0 auto;

            @include breakpoint(desktop-max) {
                width: 221px;
                min-height: 361px;
            }

            @include breakpoint(ipad-max) {
                width: 179px;
                min-height: 298px;
            }

            @include breakpoint(mobile-max) {
                min-height: 326px;
                width: 200px;
                left: 8px;
            }

            // #plyr-vimeo-example {
            //     min-height: 434px;

            //     @include breakpoint(desktop-max) {
            //         min-height: 361px;
            //     }

            //     @include breakpoint(ipad-max) {
            //         min-height: 298px;
            //     }

            //     @include breakpoint(mobile-max) {
            //         min-height: 326px;
            //     }
            // }

            // #plyr-vimeo-example>div {
            //     padding-bottom: 580%
            // }


        }

        &__circle {
            position: absolute;
            border-radius: 100%;

            &-1 {
                top: 0;
                // top: -20px;
                right: -4rem;
                height: 138px;
                width: 138px;
                border: 3.57rem solid $dark-blue-color-1;
                border-radius: 100%;

                @include breakpoint(desktop-max) {
                    right: -3.28rem;
                    height: 114px;
                    width: 114px;
                    border: 2.93rem solid $dark-blue-color-1;
                }

                @include breakpoint(mobile-max) {
                    right: -3.28rem;
                    height: 103.5px;
                    width: 103.5px;
                    border: 2.68rem solid $dark-blue-color-1;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    right: -2.78rem;
                    height: 87px;
                    width: 88px;
                    border: 2.28rem solid #18009E;
                }
            }

            &-2 {
                bottom: 0;
                // bottom: -24px;
                right: -6.64rem;
                height: 300px;
                width: 300px;
                border: 3.57rem solid $base-color;
                border-radius: 100%;

                @include breakpoint(desktop-max) {
                    right: -5.5rem;
                    height: 249px;
                    width: 249px;
                    border: 2.93rem solid $base-color;
                }

                @include breakpoint(mobile-max) {
                    right: -5.5rem;
                    height: 225px;
                    width: 225px;
                    border: 2.68rem solid $base-color;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    right: -3.43rem;
                    height: 192px;
                    width: 192px;
                    border: 1.93rem solid $base-color;
                }
            }

            &-3 {
                top: 7.14rem;
                left: -7.64rem;
                height: 271px;
                width: 271px;
                border: 3.57rem solid $light-blue-color-2;
                border-radius: 100%;

                @include breakpoint(desktop-max) {
                    top: 5.93rem;
                    left: -6.36rem;
                    height: 225px;
                    width: 225px;
                    border: 2.93rem solid $light-blue-color-2;
                }

                @include breakpoint(mobile-max) {
                    height: 177.5px;
                    width: 177.5px;
                    border: 2.68rem solid $light-blue-color-2;
                    left: -5.26rem;
                    top: 7.14rem;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    height: 151px;
                    width: 151px;
                    border: 2.28rem solid $light-blue-color-2;
                    left: -4.43rem;
                    top: 6.07rem;
                }
            }

            &-4 {
                bottom: 0;
                // bottom: -38px;
                left: -4.64rem;
                height: 42px;
                width: 42px;
                border: 1.36rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    left: -3.93rem;
                    height: 34px;
                    width: 34px;
                    border: 1.07rem solid $tertiary-color;
                }

                @include breakpoint(mobile-max) {
                    height: 31.5px;
                    width: 31.5px;
                    border: 0.95rem solid $tertiary-color;
                    left: -4.76rem;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    height: 26px;
                    width: 26px;
                    border: 0.78rem solid $tertiary-color;
                    left: -2.71rem;
                }
            }

            &-5 {
                top: 0.96rem;
                left: -6.25rem;
                height: 38px;
                width: 38px;
                border: 1.07rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    top: 0.8rem;
                    left: -5.2rem;
                    height: 31px;
                    width: 31px;
                    border: 0.86rem solid $tertiary-color;
                }

                @include breakpoint(mobile-max) {
                    height: 28.5px;
                    width: 28.5px;
                    border: 0.8rem solid $tertiary-color;
                    left: -3.93rem;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    height: 24px;
                    width: 24px;
                    border: 9.6px solid $tertiary-color;
                    left: -3.28rem;
                }
            }

            &-6 {
                top: 16.69rem;
                right: -6.75rem;
                height: 38px;
                width: 38px;
                border: 1.07rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    top: 13.89rem;
                    right: -5.62rem;
                    height: 31px;
                    width: 31px;
                    border: 0.86rem solid $tertiary-color;
                }

                @include breakpoint(mobile-max) {
                    height: 28.5px;
                    width: 28.5px;
                    border: 0.8rem solid $tertiary-color;
                    right: -5.63rem;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    right: -2.28rem;
                }

            }
        }
    }

    &-laptop-video {
        position: relative;
        z-index: 1;
        padding: 5.43rem 0 5.9rem 0;

        @include breakpoint(desktop-max) {
            padding: 4.87rem 0 4.91rem 0;
        }

        @include breakpoint(mobile-max) {
            padding: 3.11rem 0 3.14rem 0;
        }

        &__img {
            width: 520px;
            height: 100%;
            position: relative;
            z-index: 1;

            @include breakpoint(desktop-max) {
                width: 432px;
            }

            @include breakpoint(ipad-max) {
                // width: 381px;
                width: 100%;
                height: auto;
            }
        }

        &__iframe {
            position: absolute;
            // left: 50%;
            left: 0;
            right: 0;
            top: 35%;
            width: 438px;
            min-height: 230px;
            transform: translateY(-35%);
            // transform: translate(-50%, -35%);
            background-color: #171717;
            border: none;
            display: block;
            margin: 0 auto;
            z-index: 1;

            @include breakpoint(desktop-max) {
                width: 364px;
                min-height: 179px;
            }

            @include breakpoint(ipad-max) {
                // width: 314px;
                // min-height: 178px;
                top: 37%;
                width: 80%;
                min-height: auto;
            }
        }

        &__circle {
            position: absolute;
            border-radius: 100%;

            &-1 {
                right: 0;
                left: 0;
                bottom: 0;
                height: 219px;
                width: 219px;
                border: 4.35rem solid $dark-blue-color-1;
                border-radius: 100%;
                display: block;
                margin: 0 auto;

                @include breakpoint(desktop-max) {
                    width: 182px;
                    height: 182px;
                    border: 3.62rem solid $dark-blue-color-1;
                }

                @include breakpoint(mobile-max) {
                    bottom: 0.8rem;
                    border: 2.99rem solid $dark-blue-color-1;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    width: 152px;
                    height: 152px;
                }
            }

            &-2 {
                bottom: 12.07rem;
                left: 0;
                height: 136px;
                width: 136px;
                border: 4.35rem solid $base-color;
                border-radius: 100%;

                @include breakpoint(desktop-max) {
                    bottom: 10.04rem;
                    height: 113px;
                    width: 113px;
                    border: 3.62rem solid $base-color;
                }

                @include breakpoint(ipad-max) {
                    bottom: 8.29rem;
                }

                @include breakpoint(mobile-max) {
                    bottom: 47%;
                    left: -1.2rem;
                    border: 2.99rem solid $base-color;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    height: 93px;
                    width: 93px;
                }
            }

            &-3 {
                top: 0;
                right: -2.67rem;
                height: 318px;
                width: 318px;
                border: 4.35rem solid $light-blue-color-2;
                border-radius: 100%;

                @include breakpoint(desktop-max) {
                    right: 0;
                    height: 264px;
                    width: 264px;
                    border: 3.62rem solid $light-blue-color-2;
                }

                @include breakpoint(ipad-max) {
                    width: 218px;
                    height: 218px;
                }

                @include breakpoint(mobile-max) {
                    height: 177.5px;
                    width: 177.5px;
                    border: 2.99rem solid $light-blue-color-2;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    height: 120px;
                    width: 120px;
                }
            }

            &-4 {
                top: 0;
                left: 0;
                height: 38px;
                width: 38px;
                border: 1.07rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    height: 34px;
                    width: 34px;
                }

                @include breakpoint(mobile-max) {
                    height: 31.5px;
                    width: 31.5px;
                    border: 0.95rem solid $tertiary-color;
                }
            }

            &-5 {
                left: 5.32rem;
                bottom: 0;
                height: 38px;
                width: 38px;
                border: 1.07rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    left: 4.42rem;
                    height: 34px;
                    width: 34px;
                    border: 0.86rem solid $tertiary-color;
                }

                @include breakpoint(mobile-max) {
                    left: 1.77rem;
                    height: 28.5px;
                    width: 28.5px;
                    border: 0.8rem solid $tertiary-color;
                }
            }

            &-6 {
                bottom: 11.08rem;
                right: -2.92rem;
                height: 38px;
                width: 38px;
                border: 1.07rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    bottom: 9.23rem;
                    right: -2rem;
                    height: 34px;
                    width: 34px;
                    border: 0.86rem solid $tertiary-color;
                }

                @include breakpoint(ipad-max) {
                    right: -1rem;
                }

                @include breakpoint(mobile-max) {
                    bottom: 9.23rem;
                    height: 28.5px;
                    width: 28.5px;
                    border: 0.8rem solid $tertiary-color;
                }
            }
        }
    }

    &-computer-video {
        position: relative;
        z-index: 1;
        padding: 3.89rem 0 4.68rem 0;

        @include breakpoint(desktop-max) {
            padding: 3.23rem 0 3.89rem 0;
        }

        @include breakpoint(mobile-max) {
            padding: 3.23rem 0 3.89rem 0;
        }

        @include breakpoint(custom-alt-small-mobile-max) {
            padding: 2.23rem 0 2.89rem 0;
        }

        &__img {
            width: 98%;
            height: 100%;
            position: relative;
            z-index: 1;
            display: block;
            margin-left: auto;

            @include breakpoint(mobile-max) {
                width: 300px;
                margin: 0 auto;
            }

            @include breakpoint(custom-alt-small-mobile-max) {
                width: 280px;
            }
        }

        &__iframe {
            position: absolute;
            // left: 51%;
            left: 0;
            right: 0;
            top: 35%;
            width: 92%;
            // width: 525px;
            min-height: 297px;
            transform: translateY(-35%);
            // transform: translate(-50%, -35%);
            background-color: #171717;
            border: none;
            display: block;
            margin: 0 auto;
            z-index: 1;

            @include breakpoint(desktop-max) {
                // width: 437px;
                min-height: 247px;
            }

            @include breakpoint(ipad-max) {
                min-height: 204px;
            }

            @include breakpoint(mobile-max) {
                top: 36%;
                left: 50%;
                width: 285px;
                min-height: 166px;
            }

            @include breakpoint(custom-alt-small-mobile-max) {
                width: 260px;
            }
        }

        &__circle {
            position: absolute;
            border-radius: 100%;

            &-1 {
                bottom: 4.68rem;
                left: -3.21rem;
                height: 318px;
                width: 318px;
                border: 4.35rem solid $dark-blue-color-1;

                @include breakpoint(desktop-max) {
                    bottom: 3.9rem;
                    left: -2.67rem;
                    width: 264px;
                    height: 264px;
                    border: 3.62rem solid $dark-blue-color-1;
                }

                @include breakpoint(ipad-max) {
                    bottom: 3.22rem;
                    left: -2.21rem;
                    width: 218px;
                    height: 218px;
                    border: 2.99rem solid $dark-blue-color-1;
                }

                @include breakpoint(mobile-max) {
                    width: 168px;
                    height: 168px;
                    border: 2.99rem solid $dark-blue-color-1;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    width: 128px;
                    height: 128px;
                }
            }

            &-2 {
                top: 0;
                right: 7.61rem;
                height: 219px;
                width: 219px;
                border: 4.35rem solid $base-color;
                border-radius: 100%;

                @include breakpoint(desktop-max) {
                    right: 6.34rem;
                    width: 182px;
                    height: 182px;
                    border: 3.62rem solid $base-color;
                }

                @include breakpoint(ipad-max) {
                    width: 150px;
                    height: 150px;
                }

                @include breakpoint(mobile-max) {
                    width: 116px;
                    height: 116px;
                    border: 2.99rem solid $base-color;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    width: 86px;
                    height: 86px;
                    border: 2.4rem solid $base-color;
                }
            }

            &-3 {
                bottom: 4.68rem;
                right: -1.96rem;
                height: 136px;
                width: 136px;
                border: 4.35rem solid $light-blue-color-2;

                @media (max-width: 1269px) {
                    right: -0.71rem;
                }

                @include breakpoint(desktop-max) {
                    bottom: 3.90rem;
                    // right: -1.63rem;
                    height: 113px;
                    width: 113px;
                    border: 3.62rem solid $light-blue-color-2;
                }

                @include breakpoint(ipad-max) {
                    bottom: 3.22rem;
                    width: 77px;
                    height: 77px;
                }

                @include breakpoint(mobile-max) {
                    border: 2.99rem solid $light-blue-color-2;
                }
            }

            &-4,
            &-6 {
                height: 38px;
                width: 38px;
                border: 1.07rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    height: 34px;
                    width: 34px;
                    border: 0.86rem solid $tertiary-color;
                }

                @include breakpoint(ipad-max) {
                    width: 28px;
                    height: 28px;
                    border: 0.71rem solid $tertiary-color;
                }

                @include breakpoint(mobile-max) {
                    height: 31.5px;
                    width: 31.5px;
                    border: 0.95rem solid $tertiary-color;
                }

                @include breakpoint(custom-alt-small-mobile-max) {
                    width: 25px;
                    height: 25px;
                    border: 0.75rem solid $tertiary-color;
                }
            }

            &-4 {
                top: 0;
                left: 2.96rem;

                @include breakpoint(desktop-max) {
                    left: 2.46rem;
                }
            }

            &-5 {
                bottom: 0;
                right: 15.46rem;
                height: 42px;
                width: 42px;
                border: 1.36rem solid $tertiary-color;
                opacity: 0.2;
                background-color: #fff;

                @include breakpoint(desktop-max) {
                    height: 34px;
                    width: 34px;
                    right: 12.87rem;
                    border: 1.13rem solid $tertiary-color;
                }

                @include breakpoint(ipad-max) {
                    width: 28px;
                    height: 28px;
                    right: 10.63rem;
                    border: 0.93rem solid $tertiary-color;
                }

                @include breakpoint(mobile-max) {
                    height: 28.5px;
                    width: 28.5px;
                }
            }

            &-6 {
                top: 5.86rem;
                right: -3.61rem;

                @media (max-width: 1269px) {
                    right: 0;
                }

                @include breakpoint(desktop-max) {
                    top: 4.87rem;
                    // right: -3rem;
                }
            }
        }
    }
}