.nav {
    $self: &;

    
    &-tabs {
        border-bottom: none;
        overflow-x: auto;
        overflow-y:hidden;
        flex-wrap: nowrap;
        padding: 0.57rem 0.57rem 0 0;

        @include breakpoint(mobile-max) {
            padding: 0;
        }
        
        #{$self}-link {
            font-size: 1.43rem;
            line-height: 1.85rem;
            border-radius: initial;
            padding-bottom: 0.14rem !important;
            border: none;
            border-bottom: 4px solid transparent;
            transition: .5s ease;
            white-space: nowrap;

            @include breakpoint(mobile-max) {
                color: $base-color;
                font-size: 1.14rem;
                line-height: 1.57rem;
                letter-spacing: -0.19px;
            }

            &:hover {
                color: $dark-blue-color-1;
                border-bottom: 4px solid $dark-blue-color-1;
            }

            &:focus {
                color: $dark-blue-color-1;
                border-bottom: 4px solid $dark-blue-color-1;

                @include  breakpoint(ipad-min) {
                    box-shadow: 0 0 0 4px #BFFFDE;
                }
            }
        }

        #{$self}-link.active {
            color: $dark-blue-color-1;
            background-color: #fff;
            border-color: $dark-blue-color-1;
        }

        #{$self}-link+#{$self}-link {
            margin-left: 1.71rem;

            @include breakpoint(custom-small-mobile-max) {
                margin-left: 0.57rem;
            }
        }
    }
}

.tab-content-bg {
    background: url(../images/body-bg.svg) $light-grey-color-1;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.86rem 0 3.43rem 0;
}