.navbar {
    padding: 2rem 0;

    @include breakpoint(desktop-max) {
        padding: 1.66rem 0;
    }

    @include breakpoint(ipad-max) {
        padding: 1.37rem 0;
    }

    @include breakpoint(mobile-max) {
        padding: 1.14rem 0;
    }

    &-brand {
        padding: 0;
        margin: 0;
        z-index: 4;

        &:hover,
        &:focus {
            outline: none;
        }

        svg {
            height: 34px;
            width: 158px;

            @include breakpoint(ipad-max) {
                width: 70%;
            }

            @include breakpoint(mobile-max) {
                width: 105px;
                height: 23px;
            }
        }
    }


    &-brand-wrap {
        @include breakpoint(mobile-max) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    &-nav {
        align-items: center;

        @include breakpoint(mobile-max) {
            padding: 0 1.71rem;
            align-items: flex-start;
        }

        li {
            @include breakpoint(mobile-max) {
                width: 100%;
            }
        }

        li+li {
            @include breakpoint(ipad-min) {
                margin-left: 2.1rem;
            }

            @include breakpoint(ipad-max) {
                margin-left: 0.96rem;
            }

            @include breakpoint(mobile-max) {
                margin-left: 0;
                margin-top: 1.14rem;
            }
        }
    }
}

.nav {
    &-link {
        font-family: $primary-font;
        color: $base-color;
        font-weight: 700;
        letter-spacing: -0.31px;
        display: flex;
        align-items: center;
        padding: 0 !important;
        transition: .5s ease;

        @include breakpoint(mobile-max) {
            color: #fff;
            font-size: 1.86rem;
            letter-spacing: -0.31px;
            line-height: 2.28rem;
            display: block;
        }

        &:hover,
        &:focus {
            color: $light-blue-color-3;
            outline: none;
        }
    }

    &-link.dropdown-toggle {
        position: relative;

        &:after {
            content: $icon-back;
            position: absolute;
            font-family: $icomoon-font-family;
            font-size: 1rem;
            line-height: 1;
            border: none;
            right: -1.5rem;
            top: 50%;
            left: auto;
            margin: 0;
            vertical-align: baseline;
            transform: translateY(-50%);

            @include breakpoint(mobile-max) {
                content: $icon-plus;
                right: 0;
            }
        }
    }

    &-item.dropdown {
        padding-right: 1.35rem;
    }

    &-item.dropdown.show {
        .nav-link.dropdown-toggle {
            &:after {
                @include breakpoint(ipad-min) {
                    transform: translateY(-50%) rotate(180deg);
                }

                @include breakpoint(mobile-max) {
                    content: $icon-minus;
                }
            }
        }
    }
}

.navigation {
    &-overlay {
        @include breakpoint(ipad-min) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0.78rem 0 0 0;
        }

        @include breakpoint(mobile-max) {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: $dark-grey-color-4;
            overflow-y: hidden;
            transition: 0.5s ease-in-out all;
            z-index: 2;
        }

        &__content {
            @include breakpoint(mobile-max) {
                position: relative;
                top: 0;
                width: 100%;
                margin-top: 5.5rem;
            }
        }
    }

    &-links-wrap {
        display: flex;
        flex-flow: row;

        @include breakpoint(mobile-max) {
            height: 100%;
            flex-flow: column;
            justify-content: space-between;
        }

        &__btn-links {
            @include breakpoint(mobile-max) {
                padding: 0 1.71rem 2.86rem 1.71rem;
            }

            li {

                @include breakpoint(mobile-max) {
                    width: 100%;
                }

                .signup-btn,
                .login-btn {
                    @include breakpoint(mobile-max) {
                        width: 100%;
                        padding: 0.85rem 1.35rem;
                        margin: 0 auto;
                        transition-delay: 0.5s;
                    }

                }

                .signup-btn {
                    @include breakpoint(ipad-min) {
                        margin-left: 2.85rem;
                    }

                    @include breakpoint(ipad-max) {
                        margin-left: 1.96rem;
                    }

                    @include breakpoint(mobile-max) {
                        bottom: 7.36rem;
                        margin-left: auto;
                        color: $base-color;
                        background-color: #fff;
                        transition: .5s ease;

                        &:hover,
                        &:focus {
                            color: #fff;
                            background-color: $dark-blue-color-1;
                            box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
                        }
                    }
                }

                .login-btn {
                    @include breakpoint(ipad-min) {
                        margin-left: 1.14rem;
                    }

                    @include breakpoint(ipad-max) {
                        margin-left: 0.78rem;
                    }

                    @include breakpoint(mobile-max) {
                        bottom: 2.86rem;
                        margin-left: auto;
                        color: #fff;
                        background-color: transparent;
                        border-color: #fff;
                        transition: .5s ease;

                        &:hover,
                        &:focus {
                            border-color: $dark-blue-color-1;
                            background-color: $dark-blue-color-1;
                            box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
                        }
                    }
                }

                &:first-child {
                    @include breakpoint(mobile-max) {
                        padding-top: 2.32rem;
                        border-top: 4px solid $dark-grey-color-5;
                    }
                }
            }

            li+li {
                @include breakpoint(mobile-max) {
                    margin-top: 1.14rem;
                }
            }
        }
    }
}

.navbar-brand path#Shape,
.navbar-brand path#shape-fill,
.navbar-brand polygon#shape-fill {
    transition: fill 0.5s 0.5s ease;
}

.navbar-brand.active  path#Shape,
.navbar-brand.active path#shape-fill,
.navbar-brand.active polygon#shape-fill {
    fill: #fff;
    transition: fill 0.5s ease;
}

.toggle-btn,
.close-btn {
    [class^="icon-"] {
        &::before {
            color: $base-color;
            font-size: 1.43rem;
        }
    }

    @include breakpoint(ipad-min) {
        display: none;
    }
}

.toggle-btn,
.close-btn {
    position: absolute;
    top: 1.14rem;
    z-index: 2;
}

.toggle-btn {
    right: 0;
}

.close-btn {
    right: 1.14rem;

    [class^="icon-"] {
        &::before {
            color: #fff;
        }
    }
}