.notification {
    $self: &;
    margin: 3.64rem 0 0 0;
    padding: 0.86rem 1.07rem 0.86rem 7.71rem;
    @include border-radius(0.57rem);
    position: relative;

    @include breakpoint(mobile-max) {
        padding: 0.85rem 2.71rem 0.85rem 4.36rem;
        margin: 1.86rem 0.64rem 0 0.64rem;
    }

    .icon-virtual-projects,
    .icon-hackathon,
    .icon-online-unicourse {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .icon-virtual-projects {
        background-image: url('../images/icon-bg/03.icon-bg.svg');
    }

    .icon-hackathon {
        background-image: url('../images/icon-bg/02.icon-bg.svg');
    }

    .icon-online-unicourse {
        background-image: url('../images/icon-bg/01.icon-bg.svg');
    }


    &--green {
        background: #BFFFDE;

        #{$self}__alert-icon {
            color: #43FF9E;
        }
    }

    &--orange {
        background: $light-orange-2;

        #{$self}__alert-icon {
            color: $light-orange;
        }
    }

    &--red {
        background: $regular-red-3;

        #{$self}__alert-icon {
            color: $regular-red-2;
        }
    }

    &__alert-icon,
    &__close-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__alert-icon {
        font-size: 5.72rem;
        left: 1.14rem;

        @include breakpoint(mobile-max) {
            font-size: 4.57rem;
            left: -1rem;
        }
    }

    &__close-icon {
        color: $dark-grey-color-1;
        right: 1.07rem;

        @include breakpoint(mobile-max) {
            top: 1.57rem;
            right: 0.85rem;
        }
    }

    &__text {
        color: $dark-grey-color-1;
        line-height: 1.42rem;
        display: inline-block;

        @include breakpoint(mobile-max) {
            font-size: 0.85rem;
            letter-spacing: -0.01rem;
        }
    }
}