.popover {
    box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5);
    border: 2px solid #1b2125;
    min-width: 381px;
    z-index: 1;

    @include breakpoint(mobile-max) {
        min-width: auto;
    }

    &-header {
        background: none;
        padding: 0;
        border: 0;

        .close {
            color: #fff;
            opacity: 1;
            position: absolute;
            right: 0.857rem;
            top: 0;
        }
    }

    &-body {
        background-color: #1b2125;
        color: #fff;
        padding: 1rem 1.14rem;

        h5 {
            margin-bottom: .57rem;
            font-size: 1.14rem;
            line-height: 1.57rem;
            letter-spacing: 0.0135rem;
            font-weight: bold;
            color: #ffffff;
        }

        p {
            line-height: 1.42rem;
            font-size: 1rem;
            padding-bottom: 15px;
            font-weight: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: -0.17px;
            color: #ffffff;
        }
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control.left,
.carousel-control.right {
    background: none !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    position: absolute;
    bottom: 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
    bottom: 0px;
    opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    font-size: 1.14rem;
}

.carousel-control-next {
    left: 15px;
    right: auto;
    /**/
}

.fa-angle-left {
    left: 5px !important;
}


.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-auto[x-placement^=bottom] .arrow::before,
.bs-popover-bottom .arrow::after,
.bs-popover-bottom .arrow::before {
    border-width: 0 .85rem .85rem .85rem;
}

.bs-popover-auto[x-placement^=bottom]>.arrow::after,
.bs-popover-bottom>.arrow::after {
    border-bottom-color: #1b2125;
}

.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
    top: -5px;
}

.bs-popover-auto[x-placement^=bottom] .arrow::before,
.bs-popover-bottom .arrow::before {
    top: -6px;
    border-bottom-color: #1b2125;
}

.popover.bottom>.arrow {
    border-bottom-color: $dark-grey-color-5;
}

.bs-popover-auto[x-placement^=top]>.arrow::before,
.bs-popover-top>.arrow::before {
    border-top-color: $dark-grey-color-5;
    ;
}

.bs-popover-auto[x-placement^=top]>.arrow::after,
.bs-popover-top>.arrow::after {
    border-top-color: $dark-grey-color-5;
}

.popover.bottom>.arrow:after {
    top: 3px;
}

.bs-popover-auto[x-placement^=bottom] .popover-header::before,
.bs-popover-bottom .popover-header::before {
    border-bottom: 0
}


// timepicker
.ui-timepicker-table {
    padding: 0;
    box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.5) !important;
    border: solid 2px #2f64ff !important;
    border-radius: 4px !important;
}