.product-progress {
    &-box {
        margin-top: 2.86rem;

        @include breakpoint(mobile-max) {
            margin-top: 1.71rem;
        }
        
        .common-flex-box {
            @include breakpoint(mobile-max) {
                margin-bottom: 0.57rem;
            }

            .btn {
                @include breakpoint(mobile-max) {
                    display: none;
                }
            }
        }

        .light-bg {
            border-radius: 0.57rem;
            padding: 1.71rem 1.71rem 2.28rem 1.71rem;

            @include breakpoint(mobile-max) {
                padding: 1.71rem;                
            }
        }

    }

    &__point-line,
    &__time-line {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        @include breakpoint(mobile-max) {
            display: none;
        }

        li {
            span {
                font-size: 0.71rem;
                font-weight: 700;
                letter-spacing: -0.12px;
                line-height: 1.14rem;
                text-transform: uppercase;
            }
        }
    }

    &__point-line {
        li {
            margin-bottom: 0.86rem;
        }
    }

    &__time-line {
        li {
            margin-top: 0.86rem;
        }
    }

    &__milestone-text {
        font-size: 1rem;
        line-height: 1.29rem;
        letter-spacing: -0.01rem;

        @include breakpoint(ipad-min) {
            display: none;
        }
    }

    &__date-text {
        font-size: 0.71rem;
        letter-spacing: -0.12px;
        line-height: 1.14rem;
        font-weight: 700;
        margin: 0.57rem 0 0 0;
        
        @include breakpoint(ipad-min) {
            display: none;
        }
    }
}

.progress {
    height: 0.57rem;
    background-color: #fff;

    @include breakpoint(mobile-max) {
        display: none;
    }
}