.product-detail {
    $self: &;

    &-title-block {
        padding-top: 5.14rem;

        @include breakpoint(mobile-max) {
            padding-top: 2.28rem;
        }

        &--bg {
            padding-bottom: 1.71rem;
        }

        &__title {

            span[class^="icon-"],
            span[class*=" icon-"] {
                display: inline-block;
                font-size: 5.07rem;
                line-height: 5.71rem;
                color: $light-grey-color-2;
                margin-bottom: 0.57rem;
            }

            .block-subtitle {
                margin-bottom: 0.86rem;
            }

            .tags-block {
                li+li {
                    margin-left: 0.57rem;
                }
            }
        }

        &__dropdown {
            display: flex;

            @include breakpoint(ipad-min) {
                justify-content: flex-end;
                align-items: flex-end;
            }

            @include breakpoint(mobile-max) {
                margin-top: 1.71rem;
            }

            .btn-secondary {
                background-color: #fff;
            }
        }
    }

    &-about-block {
        margin: 2.86rem 0 3.28rem 0;

        @include breakpoint(mobile-max) {
            margin: 1.71rem 0 2.14rem 0;
        }

        >div>div.bottom-border {
            padding-bottom: 0;

            @include breakpoint(mobile-max) {
                padding-bottom: 2.28rem;
            }
        }

        &__main-title,
        &__field-title {
            margin-bottom: 1.36rem;
        }
    }

    &-member-block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.43rem;

        &__img {
            width: 77px;
            height: 72px;
            border-radius: 0.57rem;
            background-color: $light-grey-color-4;
        }

        &__info {
            margin-left: 1.14rem;

            a {
                display: block;
            }

            a+a {
                margin-top: 0.57rem;
            }

        }
    }

    &-field {
        &-row {
            margin-bottom: 2.85rem;

            @include breakpoint(desktop-max) {
                margin-bottom: 2.37rem;
            }

            @include breakpoint(mobile-max) {
                margin-bottom: 0;
            }
        }

        &-col {
            @include breakpoint(mobile-max) {
                margin-top: 2.28rem;
            }
        }

        &-block {
            &__desc {
                font-size: 1rem;
                line-height: 1.42rem;
                letter-spacing: -0.17px;
                margin-bottom: 0;
            }

            &__desc+&__desc {
                margin: 0.57rem 0 0 0;
            }

            &__date-info {
                margin-top: 1.43rem;

                li+li {
                    margin-top: 0.57rem;
                }
            }
        }
    }

    &-mission-block {
        @include breakpoint(mobile-max) {
            margin-top: 2rem;
        }

        #{$self}-field-block__date-info {
            margin-top: 1.14rem;
        }
    }

    &-deliverable-block {
        padding: 1.14rem;
        border-radius: 0.57rem;
        background-color: $light-grey-color-1;

        @include breakpoint(mobile-max) {
            margin-top: 2rem;
        }

        #{$self}-about-block__field-title {
            margin-bottom: 1.14rem;
        }
    }

    &-footer-block {
        margin-top: 2.86rem;

        .block-subtitle {
            margin-bottom: 1.43rem;
        }
    }

    // btn css
    &-btn-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 3.42rem;

        .btn {
            @include breakpoint(mobile-max)  {
                width: 100%;
            }
        }

        .btn+.btn {
            @include breakpoint(ipad-min) {
                margin-left: 1.71rem;
            }

            @include breakpoint(mobile-max) {
                margin-top: 0.85rem;
            }
        }
    }

    .tags-block {
        li {
            margin-top: 0.57rem;
        }
    }
}

.tasks-lists {
    .checkbox-input-box {
        p {

            color: $base-color;
            font-weight: 700;
        }
    }

    li+li {
        margin-top: 1.86rem;
    }

    &__item {
        &-datetime {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0.86rem 0 0 2rem;

            .tags {
                margin-left: 1.28rem;
            }
        }
    }
}

.event-lists {
    &-block {
        @include breakpoint(mobile-max) {
            margin-top: 2.86rem;
        }
    }

    &__item {

        &-link-title {
            font-size: 1.14rem;
            line-height: 1.57rem;
            letter-spacing: -0.19px;
            font-weight: 700;
            margin-top: 0.86rem;
        }
    }

    li+li {
        margin-top: 2.28rem;
    }
}

.tools-lists {
    &-box {
        @include breakpoint(ipad-max) {
            margin-top: 2.86rem;
        }
    }

    li+li {
        margin-top: 1.43rem;
    }
}