.project-profile {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 226px;
        top: 0;
        background-color: #BFFFDE;

        @include breakpoint(mobile-max) {
            height: 256px;
        }
    }

    &-img-name {
        position: relative;
        z-index: 1;

        &__img {
            padding: 5.28rem 0 0 0;

            @include breakpoint(ipad-max) {
                padding: 9.28rem 0 0 0;
            }

            @include breakpoint(mobile-max) {
                padding: 2.28rem 0 0 0;
            }

            img {
                width: 282px;
                height: 282px;
                object-fit: cover;
                border-radius: 100%;

                @include breakpoint(desktop-max) {
                    width: 224px;
                    height: 224px;
                }

                @include breakpoint(ipad-max) {
                    width: 174px;
                    height: 170px;
                }

                @include breakpoint (mobile-max) {
                    width: 152px;
                    height: 152px;
                }
            }
        }

        &__name {
            @include breakpoint(ipad-min) {
                padding-top: 11.71rem;
            }

            @include breakpoint(mobile-max) {
                padding-top: 1.14rem;
            }
        }

        &__user-interest {

            >div {
                width: 100%;

                @include breakpoint(ipad-min) {
                    width: 78%;
                }
            }

            .block-fourthtitle {
                margin-top: 3.42rem;
            }

            span {
                display: inline-block;
                margin-top: 0.57rem;
            }
        }
    }

    &-main {
        margin-top: 2.57rem;

        @include breakpoint(mobile-max) {
            margin-top: 2.28rem;
        }
    }

    &-detail-box+&-detail-box {
        margin-top: 1.71rem;

        @include breakpoint(mobile-max) {
            margin-top: 2.28rem;
        }
    }

    &-about-student {
        @include breakpoint(mobile-max) {
            margin: 2.29rem 0;
        }

        &__video {
            margin-top: 2.29rem;

            @include breakpoint(mobile-max) {
                margin-top: 1.71rem;
            }

            .row>div {
                &:nth-child(2) {
                    padding-right: 0;

                    @include breakpoint(mobile-max) {
                        padding-left: 0;
                    }
                }

                &:nth-child(1) {
                    padding: 0;
                }
            }
        }

        .stories {
            &-video {
                width: 100%;
                padding-top: 57%;
            }

            &-text {
                width: 100%;
                padding: 0 2.71rem;

                @include breakpoint(desktop-max) {
                    padding: 0 2.25rem;
                }

                @include breakpoint(ipad-max) {
                    padding: 0 1rem;
                }

                @include breakpoint(mobile-max) {
                    margin-top: 0;
                }

                &-wrap {
                    width: 100%;
                    height: 100%;
                    background-color: $light-grey-color-1;
                    border-radius: 0.57rem;

                    @include breakpoint(mobile-max) {
                        margin-top: 1.71rem;
                    }


                    .quotes {
                        margin-bottom: 1.71rem;

                        @include breakpoint(desktop-max) {
                            margin-bottom: 1.42rem;
                        }

                        @include breakpoint(ipad-max) {
                            margin-top: 1.17rem;
                        }

                        [class^="icon-"],
                        [class*=" icon-"] {
                            &:before {
                                @include breakpoint(desktop-max) {
                                    font-size: 4.78rem;
                                }

                                @include breakpoint(ipad-max) {
                                    font-size: 3.78rem;
                                }

                                @include breakpoint(mobile-max) {
                                    font-size: 7rem;
                                }
                            }
                        }
                    }

                    .stories-text__testimonial-text {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}