.publicpage {
    &-headbanner {
        position: relative;
        padding: 7.71rem 0 19rem 0;
        margin-top: 98px;

        @include breakpoint(desktop-max) {
            margin-top: 88px;
            padding: 6.42rem 0 15.82rem 0;
        }

        @include breakpoint(ipad-max) {
            margin-top: 80px;
            padding: 5.3rem 0 13rem 0;
        }

        @include breakpoint(mobile-max) {
            margin-top: 57px;
            padding: 8rem 0 11rem 0;
        }

        .student-feature-lists__circle-2 {
            bottom: 3.68rem;
        }
    }

    &-herobanner {
        margin-bottom: 6.86rem;

        @include breakpoint(desktop-max) {
            margin-bottom: 5.71rem;
        }

        @include breakpoint(ipad-max) {
            margin-bottom: 4.71rem;
        }

        @include breakpoint(mobile-max) {
            margin: 2.28rem 0 3.43rem 0;
        }

        &__text {
            margin-bottom: 3.64rem;

            @include breakpoint(desktop-max) {
                font-size: 0.94rem;
                line-height: 1.3rem;
                margin-bottom: 3.03rem;
            }

            @include breakpoint(ipad-max) {
                font-size: 0.77rem;
                line-height: 1.07rem;
                margin-bottom: 2.50rem;
            }

            @include breakpoint(mobile-max) {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.29rem;
                letter-spacing: -0.01rem;
            }
        }
    }

    &-stories {
        margin-bottom: 6.86rem;

        @include breakpoint(desktop-max) {
            margin-bottom: 5.71rem;
        }

        @include breakpoint(ipad-max) {
            margin-bottom: 4.71rem;
        }

        @include breakpoint(mobile-max) {
            margin-bottom: 3.43rem;
        }
    }

    &-contectform {
        margin: 1.71rem 0;

        @include breakpoint(mobile-max) {
            margin: 2.28rem 0;
        }

        &__row {
            justify-content: space-evenly;
        }

        .form {

            &-group {
                margin-bottom: 1.71rem;

                @include breakpoint(mobile-max) {
                    margin-bottom: 1.14rem;
                }

                .text-small {
                    font-size: 0.85rem;
                    line-height: 1.28rem;
                    letter-spacing: 0.01rem;
                    margin-top: 0.57rem;
                }
            }

            &-control {
                width: 100%;
            }
        }

        &__address {
            @include breakpoint(mobile-max) {
                margin-top: 2.28rem;
            }
        }

        &__social-media {
            padding: 3.42rem 0 7.42rem 0;

            @include breakpoint(desktop-max) {
                padding: 2.84rem 0;
            }

            @include breakpoint(ipad-max) {
                padding: 2.34rem 0;
            }

            @include breakpoint(mobile-max) {
                padding: 1.49rem 0;
            }

            &-lists {
                justify-content: center;
                margin-top: 2.28rem;

                @include breakpoint(mobile-max) {
                    margin-top: 1.14rem;
                }

                li+li {
                    margin-left: 1.71rem;

                    @include breakpoint(mobile-max) {
                        margin-left: 1.14rem;
                    }
                }

                [class^="icon-"],
                [class*=" icon-"] {
                    font-size: 2.71rem;

                    @include breakpoint(mobile-max) {
                        font-size: 1.71rem;
                    }
                }
            }
        }
    }

    &-helptopic,
    &-login-signup {
        margin-top: 124px;

        @include breakpoint(desktop-max) {
            margin-top: 114px;
        }

        @include breakpoint(ipad-max) {
            margin-top: 106px;
        }

        @include breakpoint(mobile-max) {
            margin-top: 83px;
        }
    }

    &-login-signup {

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // flex-flow: column;
            // align-items: center;
        }

        .inp-icon--password,
        .form-control {
            width: 100%;
        }

        &__btn-link {
            @include breakpoint(custom-alt-small-mobile-max) {
                font-size: 0.85rem;
            }
        }

        &__btn-box {
            display: flex;
            flex-flow: column;
            align-items: flex-end;

            &-footer {
                margin-top: 1.5rem;
                margin-bottom: 3.42rem;

                @include breakpoint(desktop-max) {
                    margin-bottom: 2.84rem;
                }

                @include breakpoint(ipad-max) {
                    margin-bottom: 2.34rem;
                }

                @include breakpoint(mobile-max) {
                    margin-bottom: 2.85rem;
                }
            }
        }

        &__user {
            text-align: center;

            @include breakpoint(mobile-max) {
                text-align: left;
                ;
            }

            .checkbox-input-box {
                p {
                    font-size: 1rem;
                }

                display: inline-block;
                padding-left: 2.57rem;
                margin-right: .85rem;

                @include breakpoint(mobile-max) {
                    margin-bottom: .85rem;
                    ;
                    padding-left: 2.1rem;
                    margin-right: .85rem;
                }

                @include breakpoint(custom-small-mobile-max) {
                    padding-left: 1.9rem;
                    margin-right: 0rem;
                }

                span {
                    vertical-align: middle;
                }
            }
        }

    }
}

.g-recaptcha.brochure__form__captcha {
    iframe {
        width: 100% !important;

        .rc-anchor-normal-footer {
            float: right !important;
            padding-right: 30px !important;
        }
    }
}