.starrating {
    &-wrap {
        &__title {
            margin: 2.71rem 0 1.71rem 0;

            @include breakpoint(mobile-max) {
                margin: 2.28rem 0;
            }
        }

        &__evaluation-number {
            display: flex;
            align-items: center;
            margin-bottom: 0.87rem;

            @include breakpoint(mobile-max) {
                flex-flow: column;
                align-items: flex-start;
            }

            .base-text {
                margin-right: 0.85rem;
                margin-bottom: 0.57rem;

                @include breakpoint(ipad-min) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-block {
        border-radius: 0.57rem;
        padding: 3rem 4.57rem 4.57rem 4.57rem;

        @include breakpoint(mobile-max) {
            border-radius: 0;
            padding: 1.85rem 1.71rem 2.85rem 1.71rem;
            margin: 0 -1.71rem;
        }

        &__title {
            margin-bottom: 0;
            padding-bottom: 0.28rem;

            @include breakpoint(ipad-min) {
                margin-bottom: 0.57rem;
            }
        }

        &__star-count {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            // font-size: 1.85rem;
            font-size: 1.5rem;
            line-height: 2.28rem;
            letter-spacing: -0.31px;
            font-weight: 700;
            text-align: center;
            border-radius: 100%;
            background-color: $minty-green-2;
            // padding: 0.43rem;

            @include breakpoint(mobile-max) {
                width: 38px;
                height: 38px;
                font-size: 1.42rem;
                line-height: 1.86rem;
                letter-spacing: -0.24px;
            }
        }

        &__rating-box {
            margin-top: 1.71rem;
        }
    }
}

//
.icon-favourites{
    font-size:30px;
  }
  #rating{
    font-size:0;
    width:140px;
  }