.stories {
    margin: 6.86rem 0 0 0;

    @include breakpoint(mobile-max) {
        margin: 3.43rem 0 0 0;
    }

    .container {
        border-radius: 0.57rem;
        background-color: $light-grey-color-1;
        padding: 3.42rem 1.07rem;

        @include breakpoint(mobile-max) {
            padding: 0 1.71rem;
            background-color: transparent;
        }

        .row {
            @include breakpoint(mobile-max) {
                border-radius: 0.57rem;
                background-color: #F5F5F5;
                padding: 1.14rem 1.14rem 2.79rem 1.14rem;
                margin: 0;
            }
        }
    }

    &__main-title {
        margin-bottom: 2.86rem;

        @include breakpoint(mobile-max) {
            margin-bottom: 2.21rem;
        }
    }

    &-video {
        position: relative;
        width: 94%;
        overflow: hidden;
        padding-top: 53%;
        margin-left: auto;
        border-radius: 0.57rem;
        box-shadow: 0 12px 24px -7px rgba(0, 0, 0, 0.25);

        @include breakpoint(mobile-max) {
            width: 100%;
            padding-top: 57%;
            margin: 0 auto;
        }

        &__iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &-text {
        width: 71.68%;
        margin: 0 auto;
        text-align: center;

        @include breakpoint(ipad-max) {
            width: 76%;
        }

        @include breakpoint(mobile-max) {
            width: 100%;
            margin: 1.64rem auto 0 auto;
        }

        &-wrap {
            display: flex;
            align-items: center;
        }

        &__testimonial-text {
            margin: 0 0 2.44rem 0;

            @include breakpoint(desktop-max) {
                margin: 0 0 2.03rem 0;
            }

            @include breakpoint(ipad-max) {
                margin: 0 0 1.68rem 0;
            }

            @include breakpoint(mobile-max) {
                margin: 0 0 1.71rem 0;
            }
        }

        &__testimonial-name {
            font-family: $primary-font;
            font-weight: 700;
            margin: 0;
        }
    }

    &--with-revers {
        .container {
            .row {
                flex-flow: row-reverse;

                @include breakpoint(mobile-max) {
                    flex-flow: column;
                }
            }
        }
        
        .stories-video {
            margin-left: 0;
            margin-right: auto;
        }
    }

    &--with-svg-shape {
        position: relative;
        .container {
            position: relative;
            z-index: 2;
        }

        &__circle {
            position: absolute;
            bottom: -3.2rem;
            left: 8.64rem;
            height: 80px;
            width: 80px;
            border: 1.64rem solid $tertiary-color;
            opacity: 0.2;
            border-radius: 100%;

            @include breakpoint(desktop-max) {
                bottom: -2.93rem;
                left: 4.28rem;
                height: 66px;
                width: 66px;
                border: 1.36rem solid $tertiary-color;
            }

            @include breakpoint(mobile-max) {
                display: none;
            }
        }
    }
}