.table {

    thead th,
    tbody td {
        padding: 1.14rem 1.714rem;
    }

    thead {
        th {
            border: 0;
            border-bottom: 2px solid $light-grey-color-1;
        }
    }

    tbody {
        td {
            border: 0;
        }
    }

    .link {
        &:first-child {
            margin-right: 2.21rem;
        }
    }
}