.tags {
	@include border-radius(50px);
	font-size: 0.71rem;
	line-height: 1.14rem;
	letter-spacing: 0.037rem;
	font-weight: 700;
	color: #fff;
	padding: 0.35rem 0.89rem;
	text-transform: uppercase;
	border-radius: 50px;

	&--course-name {
		width: 117px;
		height: 19px;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: middle;
		padding: 0.12rem 0.89rem;
		margin-top: -1px;
	}

	&--black {
		background: $dark-grey-color-1;
	}

	&--blue {
		background: $base-color;
	}

	&--lightblue {
		background: $light-blue-color-2;
		color: $dark-grey-color-1;
	}

	&--darkblue {
		background: $dark-blue-color-2;
	}

	&--red {
		background: $regular-red;
	}

	&--orange {
		color: $dark-grey-color-1;
		background: $light-orange;
	}

	&--lightgray {
		color: $dark-grey-color-1;
		background: $light-grey-color-1;
	}

	&--minty-green {
		color: $dark-grey-color-1;
		background: $minty-green;
	}
}