html {
	font-size: 14px;
}

body {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.29rem;
	letter-spacing: -0.01rem;
	color: $dark-grey-color-1;
	font-family: $primary-font;
	height: 100%;
	background-image: url(../images/body-bg.svg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}