// block title
.block {
    &-title {
        font-family: $primary-font;
        font-size: 2.85rem;
        font-weight: 700;
        letter-spacing: -0.48px;
        line-height: 3.28rem;
        text-align: center;
        margin-bottom: 1.71rem;

        @include breakpoint(desktop-max) {
            font-size: 2.37rem;
            line-height: 2.73rem;
        }

        @include breakpoint(mobile-max) {
            font-size: 1.86rem;
            letter-spacing: -0.31px;
            line-height: 2.29rem;
        }
    }

    &-subtitle {
        font-family: $primary-font;
        font-size: 1.85rem;
        font-weight: 700;
        letter-spacing: -0.31px;
        line-height: 2.28rem;

        @include breakpoint(mobile-max) {
            font-size: 1.43rem;
            letter-spacing: -0.24px;
            line-height: 1.86rem;
        }

        &--md {
            font-size: 1.43rem;
            font-weight: 500;
            letter-spacing: -0.44px;
            line-height: 1.90rem;

            @include breakpoint(desktop-max) {
                font-size: 1.18rem;
                line-height: 1.54rem;
            }

            @include breakpoint(ipad-max) {
                font-size: 0.97rem;
                line-height: 1.27rem;
            }

            @include breakpoint(mobile-max) {
                font-size: 1rem;
                letter-spacing: -0.17px;
                line-height: 1.43rem;
                margin-bottom: 2.29rem;
            }
        }
    }

    &-thirdtitle {
        font-size: 2.28rem;
        line-height: 2.71rem;
        letter-spacing: 0.028rem;
        margin-bottom: 1.14rem;

        @include breakpoint(mobile-max) {
            font-size: 1.85rem;
            line-height: 2.28rem;
            letter-spacing: -0.02142rem;
            margin-bottom: 0.57rem;
        }
    }

    &-fourthtitle {
        font-size: 1.42rem;
        line-height: 1.85rem;
        font-weight: 700;
        letter-spacing: -0.017rem;

        @include breakpoint(mobile-max) {
            font-size: 1.14rem;
            line-height: 1.57rem;
            letter-spacing: -0.013rem;
        }
    }

    &-fifthtitle {
        font-size: 1.14rem;
        line-height: 1.57rem;
        letter-spacing: -0.19px;

        @include breakpoint(mobile-max) {
            font-size: 1rem;
            line-height: 1.43rem;
            letter-spacing: -0.17px;
        }
    }
}

// base-text
.base-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.29rem;
    letter-spacing: -0.01rem;
}

// text-extra-small
.text-extra-small {
    font-size: 0.71rem;
    letter-spacing: -0.12px;
    line-height: 1.14rem;
    margin: 0;

    @include breakpoint(ipad-max) {
        font-size: 0.6rem;
        line-height: 1.1rem;
    }

    @include breakpoint(mobile-max) {
        font-size: 0.71rem;
        line-height: 1.14rem;
    }
}

// svgbg
.svgbg {
    // background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;

    &-gray {
        background-image: url("../images/wave/01.gray-wave.svg");

        @include breakpoint(mobile-max) {
            background-image: url("../images/wave/01.gray-wave-mobile.svg");
        }
    }

    &-gray-2 {
        background-image: url("../images/wave/05.gray-wave.svg");

        @include breakpoint(mobile-max) {
            background-image: url("../images/wave/05.gray-wave-mobile.svg");
        }

        &-md {
            @include breakpoint(mobile-max) {
                background-image: url("../images/wave/05.gray-wave-mobile-2.svg") !important;
            }
        }
    }

    &-blue {
        background-image: url("../images/wave/02.blue-wave.svg");

        @include breakpoint(mobile-max) {
            background-image: url("../images/wave/02.blue-wave-mobile.svg");
        }

        &-md {
            @include breakpoint(mobile-max) {
                background-image: url("../images/wave/02.blue-wave-mobile-2.svg") !important;
            }
        }
    }

    &-light-blue {
        background-image: url("../images/wave/04.light-blue-wave.svg");

        @include breakpoint(mobile-max) {
            background-image: url("../images/wave/04.light-blue-wave-mobile.svg");
        }

        &-md {
            @include breakpoint(mobile-max) {
                background-image: url("../images/wave/04.light-blue-wave-mobile-2.svg") !important;
            }
        }
    }

    &-dark-blue {
        background-image: url("../images/wave/03.dark-blue-wave.svg");

        @include breakpoint(mobile-max) {
            background-image: url("../images/wave/03.dark-blue-wave-mobile.svg");
        }

        &-md {
            @include breakpoint(mobile-max) {
                background-image: url("../images/wave/03.dark-blue-wave-mobile-2.svg") !important;
            }
        }
    }
}

// virtual-opportunities
.virtual-opportunities {
    // background-color: #F5F5F5;
    padding: 9.14rem 0 6.85rem 0;

    @include breakpoint(ipad-max) {
        padding: 8.02rem 0 5.70rem 0;
    }

    @include breakpoint(mobile-max) {
        padding: 4.43rem 0 3.43rem 0;
    }

    .container {
        @include breakpoint(mobile-max) {
            padding: 0 1.71rem;
        }
    }


    &__sub-title {
        text-align: center;
        margin-bottom: 3.92rem;

        @include breakpoint(desktop-max) {
            margin-bottom: 3.26rem;
        }
    }
}

// virtual-opportunities
.feature-lists {
    position: relative;
    padding: 5.71rem 0 12.42rem 0;

    .container {
        @include breakpoint(mobile-max) {
            padding: 0 1.71rem;
        }
    }

    @include breakpoint(desktop-max) {
        padding: 7.61rem 0 10.34rem 0;
    }

    @include breakpoint(ipad-max) {
        padding: 6.3rem 0 8.55rem 0;
    }

    @include breakpoint(mobile-max) {
        padding: 3.5rem 0 5.43rem 0;
    }

    &__sub-title {
        text-align: center;
        margin-bottom: 4rem;
    }
}

// Quotes
.quotes {
    margin-bottom: 1.71rem;

    @include breakpoint(desktop-max) {
        margin-bottom: 1.42rem;
    }

    @include breakpoint(ipad-max) {
        margin-bottom: 1.17rem;
    }

    @include breakpoint(mobile-max) {
        margin-bottom: 1.36rem;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        &:before {
            font-size: 7rem;

            @include breakpoint(desktop-max) {
                font-size: 5.78rem;
            }

            @include breakpoint(ipad-max) {
                font-size: 4.78rem;
            }

            @include breakpoint(mobile-max) {
                font-size: 3.69rem;
            }
        }
    }

    &--light-blue {

        [class^="icon-"],
        [class*=" icon-"] {
            &:before {
                color: $light-blue-color-2;
            }
        }
    }

    &--regular-blue {

        [class^="icon-"],
        [class*=" icon-"] {
            &:before {
                color: $base-color;
            }
        }
    }

    &--dark-blue {

        [class^="icon-"],
        [class*=" icon-"] {
            &:before {
                color: $dark-blue-color-1;
            }
        }
    }
}

// common-icon-lists 
.common-icon-lists {
    padding: 0 8px;
    justify-content: space-between;

    li {

        &:first-child,
        &:nth-child(2) {
            @include breakpoint(ipad-min) {
                margin-top: 0;
            }
        }
    }

    li+li {
        margin-top: 3.07rem;

        @include breakpoint(desktop-max) {
            margin-top: 2.55rem;
        }

        @include breakpoint(ipad-max) {
            margin-top: 2.11rem;
        }

        @include breakpoint(mobile-max) {
            margin-top: 2rem;
        }
    }

    &__lists-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 45%;

        @include breakpoint(mobile-max) {
            width: 100%;
            justify-content: unset;
        }
    }

    &__icons-img {
        width: 25px;
        height: 24px;

        @include breakpoint(desktop-max) {
            width: 20px;
            height: 19px;
        }

        @include breakpoint(ipad-max) {
            width: 16px;
            height: 17px;
        }

        @include breakpoint(mobile-max) {
            width: 25px;
            height: 24px;
        }
    }


    &__text {
        width: 82%;
        letter-spacing: -0.17px;
        line-height: 1.43rem;
        margin: 0;
        // margin-left: 19px;

        @include breakpoint(desktop-max) {
            line-height: 1.14rem;
        }

        @include breakpoint(ipad-max) {
            font-size: 0.57rem;
            line-height: 0.94rem;
        }

        @include breakpoint(mobile-max) {
            font-size: 1rem;
            letter-spacing: -0.17px;
            line-height: 1.57rem;
            margin-left: 20px;
        }

        @include breakpoint(custom-small-mobile-max) {
            margin-left: 15px;
        }
    }
}

// site-bottom-card
.site-bottom-card {
    padding: 6.28rem 0;

    @include breakpoint(mobile-max) {
        padding: 2.86rem 0 3.43rem 0;
    }
}

// notification-icons
.notification-icons {
    position: relative;

    &__number {
        content: '';
        position: absolute;
        top: -6px;
        right: -7px;
        width: 1rem;
        height: 1rem;
        color: #fff;
        font-size: 0.71rem;
        font-weight: 800;
        border-radius: 100%;
        background-color: $regular-red;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        font-size: 1.78rem;
        display: block;
    }
}

// common-title-box
.common-flex-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.71rem;

    @include breakpoint(mobile-max) {
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 0;

        @include breakpoint(mobile-max) {
            margin-bottom: 1.142rem;
        }
    }

    &.btn--primary {
        @include breakpoint(mobile-max) {
            // margin-top: .57rem;
        }
    }
}

// input check
.checkbox-input-box {
    display: block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &[type=checkbox]~.checkmark:after {
            content: $icon-tick-2;
            position: absolute;
            top: -2px;
            left: -2px;
            font-size: 19px;
            font-family: $icomoon-font-family;
            display: none;
        }

        &[type=checkbox]:checked~.checkmark {
            background-color: #fff;
        }

        &[type=checkbox]:checked~.checkmark:after {
            display: block;
        }

        &[type=radio]~.checkmark {
            top: -2px;
            width: 24px;
            height: 24px;
            background-color: #fff;
            border-radius: 100%;
        }

        &[type=radio]:checked~.checkmark:after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-color: $dark-grey-color-1;
            border-radius: 100%;
        }
    }

    p {
        font-size: 1.14rem;
        line-height: 1.57rem;
        padding-left: 2rem;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $base-color;
        transition: .5s ease;

        &:focus,
        &:hover {
            @include breakpoint(ipad-min) {
                outline: none;
                box-shadow: 0 0 0 4px #BFFFDE;
            }
        }
    }
}

// bottom-border
.bottom-border {
    border-bottom: 4px solid $light-grey-color-1;
    padding-bottom: 0.85rem;

    &--white {
        padding-bottom: 0.85rem;
        border-bottom: 4px solid #fff;
    }
}

// links-with-icon
.links-with-icon {

    [class^="icon-"],
    [class*=" icon-"] {
        &:before {
            font-size: 1rem;
            line-height: 1.29rem;
        }
    }

    span {
        margin-left: 0.57rem;
    }
}

// common-hyperlink
.common-hyperlink {
    color: $base-color;
    display: block;
    transition: .5s ease;
    text-transform: capitalize;

    &:hover {
        color: $dark-blue-color-1;
    }

    &:focus {
        color: $dark-blue-color-1;

        @include breakpoint(ipad-min) {
            box-shadow: 0 0 0 4px #BFFFDE;
        }
    }

    &-disable {
        display: block;
        color: $dark-grey-color-1;

        &:hover,
        &:focus {
            color: $dark-grey-color-1;
        }
    }
}

// project detail
.project-detail-lists {
    li {
        color: $dark-grey-color-1;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.42rem;
        letter-spacing: -0.014rem;
        margin-bottom: 0.285rem;

        i {
            margin-right: 0.57rem;
            color: $light-grey-color-2;

            &.icon {
                &-progress {
                    &-75 {
                        color: #43ff9e;
                    }

                    &-100 {
                        color: #ff8a00;
                    }
                }
            }
        }
    }
}

// .list-tags
.list-tags {
    li {

        [class^="icon-"],
        [class*=" icon-"] {
            margin-right: 0.57rem;
        }
    }
}

// custom upload input css
.custom-file {
    height: auto;

    @include breakpoint(mobile-min) {
        width: auto;
    }

    &-input {
        height: auto;

        @include breakpoint(mobile-min) {
            width: auto;
        }
    }

    &-label {
        // top: 50%;
        margin: 0;
        border: 0;
        padding: 0;
        height: auto;
        color: $base-color;
        font-weight: 700;
        line-height: 1.29rem;
        letter-spacing: -0.01rem;
        padding-left: 1.14rem;
        background-color: transparent;
        // transform: translateY(-50%);

        &:after {
            content: $icon-attachment !important;
            color: $base-color;
            font-family: $icomoon-font-family;
            background-color: transparent;
            left: 0;
            right: auto;
            width: auto;
            height: auto;
            padding: 0;
            display: inline-block;
            transform: scale(-1) rotate(120deg);
        }
    }
}

// single page title
.pagemain-singletitle {
    margin: 2.71rem 0 1.71rem 0;

    @include breakpoint(mobile-max) {
        margin: 2.28rem 0 1.71rem 0;
    }
}

// lists-dotted
.lists-dotted {
    li {
        position: relative;
        padding-left: 2.85rem;

        &:after {
            content: '';
            position: absolute;
            top: 40%;
            left: 1rem;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #000000;
            transform: translateY(-40%);
        }
    }

    li+li {
        margin-top: 0.57rem;
    }
}

// common truncate
.common-truncate {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block
}