.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.lists-unstyle {
    list-style: none;
}

.lists-wrap {
    display: flex;
    flex-wrap: wrap;

    &-sm {
        @include breakpoint(mobile-max) {
            display: block;
        }
    }
}


// backgorund color
.light-bg {
    background-color: $light-grey-color-1;
}

.light-bg-2 {
    background-color: $light-grey-color-3;
}

.blue-bg {
    background-color: $base-color;
}

.light-blue-bg {
    background-color: $secondary-color;
}

.light-blue-bg-2 {
    background-color: $light-blue-color-2;
}

.dark-blue-bg {
    background-color: $dark-blue-color-1;
}

.minty-green-bg {
    background-color: $minty-green;
}

.minty-green-2-bg {
    background-color: $minty-green-2;
}

.light-gray-bg {
    background-color: $light-grey-color-1;
}

.light-blue-3-bg {
    background-color: $light-blue-color-3;
}

.light-orange-2-bg {
    background-color: $light-orange-2;
}

// text color
.text {
    &--white {
        color: #fff;
    }

    &--lightblue {
        color: $base-color;
    }

    &--lightblue-2 {
        color: $light-blue-color-2;
    }

    &--darkblue {
        color: $dark-blue-color-1;
    }

    &--darkblue {
        color: $dark-blue-color-1;
    }

    &--dark-grey-color-1 {
        color: $dark-grey-color-1;
    }

    &--orange {
        color: $regular-red;
    }

    &--minty-green {
        color: $minty-green;
    }

    &-tertiary {}

    &-quaternary {}
}

.mobile-container-spacing {
    @include breakpoint(mobile-max) {
        padding: 0 1.71rem;
    }
}