h1,
h2,
.h1,
.h2 {
    font-family: $primary-font;
    font-weight: 700;
}

h1,
.h1 {
    font-size: 2.85rem;
}

h2,
.h2 {
    font-size: 2.28rem;
    letter-spacing: -0.38px;
    line-height: 2.71rem;
}

h3,
.h3 {
    font-size: 1.85rem;
    font-weight: 700;
}

h4,
.h4 {
    font-size: 1.42rem;
    line-height: 1.86rem;
    font-weight: 500;

    @include breakpoint(desktop-max) {
        font-size: 1rem;
        letter-spacing: -0.17px;
        line-height: 1.28rem;      
    }

    @include breakpoint(mobile-max) {
        font-size: 1.43rem;
        letter-spacing: 0;
        line-height: 2rem;
    }
}

h5,
.h5 {
    font-size: 1.14rem;
    line-height: 1.57rem;
    letter-spacing: -0.19px;
}

a {
    display: inline-block;
    
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

p {
    letter-spacing: -0.31px;
    line-height: 1.29rem;

    @include breakpoint(desktop-max) {
        font-size: 0.69rem;
        line-height: 1.07rem;
    }

    @include breakpoint(mobile-max) {
        font-size: 1rem;
        letter-spacing: -0.17px;
        line-height: 1.57rem;
    }
}

ul {
    padding: 0;
    margin: 0;

    li {
        margin: 0;
    }
}

em {
    &:empty {
        display: none;
    }
}

textarea {
    width: 100%;
    resize: none;
    padding: 0.57rem;
    border: solid 2px $base-color;
    border-radius: 0.28rem;

    &:focus {
        outline: none;
    }
}