@font-face {
    font-family: $primary-font;
    src: url('#{$font-path-montserrat}/montserrat-bold-webfont.woff2') format('woff2'),
         url('#{$font-path-montserrat}/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: $primary-font;
    src: url('#{$font-path-montserrat}/montserrat-regular-webfont.woff2') format('woff2'),
         url('#{$font-path-montserrat}/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}