@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rh5whp');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rh5whp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?rh5whp') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?rh5whp') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?rh5whp##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-virtual-projects {
    &:before {
        content: $icon-virtual-projects;
    }
}

.icon-virtual-team {
    &:before {
        content: $icon-virtual-team;
    }
}

.icon-online-unicourse {
    &:before {
        content: $icon-online-unicourse;
    }
}

.icon-bag {
    &:before {
        content: $icon-bag;
    }
}

.icon-universities {
    &:before {
        content: $icon-universities;
    }
}

.icon-book {
    &:before {
        content: $icon-book;
    }
}

.icon-tick {
    &:before {
        content: $icon-tick;
    }
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}

.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}

.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}

.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}

.icon-vimeo {
    &:before {
        content: $icon-vimeo;
    }
}

.icon-hamburger-menu {
    &:before {
        content: $icon-hamburger-menu;
    }
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}

.icon-quotes {
    &:before {
        content: $icon-quotes;
    }
}

.icon-hackathon {
    &:before {
        content: $icon-hackathon;
    }
}

.icon-down-arrow {
    &:before {
        content: $icon-down-arrow;
    }
}

.icon-favourites {
    &:before {
        content: $icon-favourites;
    }
}

.icon-profile {
    &:before {
        content: $icon-profile;
    }
}

.icon-alerts {
    &:before {
        content: $icon-alerts;
    }
}

.icon-messages {
    &:before {
        content: $icon-messages;
    }
}

.icon-document {
    &:before {
        content: $icon-document;
    }
}

.icon-upload {
    &:before {
        content: $icon-upload;
    }
}

.icon-play .path1 {
    &:before {
        content: $icon-play-path1;
        color: rgb(255, 255, 255);
    }
}

.icon-play .path2 {
    &:before {
        content: $icon-play-path2;
        margin-left: -1em;
        color: rgb(47, 100, 255);
    }
}

.icon-back {
    &:before {
        content: $icon-back;
    }
}

.icon-error {
    &:before {
        content: $icon-error;
    }
}

.icon-eye {
    &:before {
        content: $icon-eye;
    }
}

.icon-grid {
    &:before {
        content: $icon-grid;
    }
}

.icon-list {
    &:before {
        content: $icon-list;
    }
}

.icon-search {
    &:before {
        content: $icon-search;
    }
}

.icon-success {
    &:before {
        content: $icon-success;
    }
}

.icon-tick-2 {
    &:before {
        content: $icon-tick-2;
    }
}

.icon-brief {
    &:before {
        content: $icon-brief;
    }
}

.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}

.icon-clock {
    &:before {
        content: $icon-clock;
    }
}

.icon-expenses {
    &:before {
        content: $icon-expenses;
    }
}

.icon-minus {
    &:before {
        content: $icon-minus;
    }
}

.icon-money {
    &:before {
        content: $icon-money;
    }
}

.icon-plan {
    &:before {
        content: $icon-plan;
    }
}

.icon-plus {
    &:before {
        content: $icon-plus;
    }
}

.icon-timesheet {
    &:before {
        content: $icon-timesheet;
    }
}

.icon-upload-2 {
    &:before {
        content: $icon-upload-2;
    }
}

.icon-progress-75 {
    &:before {
        content: $icon-progress-75;
    }
}

.icon-progress-100 {
    &:before {
        content: $icon-progress-100;
    }
}

.icon-mail {
    &:before {
        content: $icon-mail;
    }
}

.icon-attachment {
    &:before {
        content: $icon-attachment;
    }
}

.icon-download-1 {
    &:before {
        content: $icon-download-1;
    }
}

.icon-bullets {
    &:before {
        content: $icon-bullets;
    }
}

.icon-eye-2 {
    &:before {
        content: $icon-eye-2;
    }
}

.icon-link {
    &:before {
        content: $icon-link;
    }
}

.icon-media {
    &:before {
        content: $icon-media;
    }
}

.icon-numbers {
    &:before {
        content: $icon-numbers;
    }
}

.icon-print {
    &:before {
        content: $icon-print;
    }
}

.icon-reply {
    &:before {
        content: $icon-reply;
    }
}

.icon-underlined {
    &:before {
        content: $icon-underlined;
    }
}

.icon-star-2 {
    &:before {
        content: $icon-star-2;
    }
}

.icon-star-fill {
    &:before {
        content: $icon-star-fill;
    }
}