// Fonts
$primary-font: 'montserratregular';

// Color
$base-color: #2F64FF;
$secondary-color: #33CAFF;
$tertiary-color: #45C0FF;
$dark-grey-color-1: #373737;
$dark-grey-color-2: #2A2626;
$dark-grey-color-3: #59595B;
$dark-grey-color-4: #151515;
$dark-grey-color-5: #1B2125;
$light-grey-color-1: #F5F5F5;
$light-grey-color-2: #747272;
$light-grey-color-3: #e1e1e1;
$light-grey-color-4: #d8d8d8;
$dark-blue-color-1: #18009E;
$dark-blue-color-2: #13007C;
$light-blue-color-2: #99DDFF;
$light-blue-color-3: #CAECFD;
$minty-green: #BFFFDE;
$minty-green-2:#43ff9e;
$regular-red: #db3a00;
$regular-red-2: #FF5414;
$regular-red-3: #ff4500;
$regular-red-4: #ffd1bf;
$light-orange: #ff8a00;
$light-orange-2: #ffe2bf;

// Container and Grid Spacing
$container-width: 1191px;
$container-md-width: 830px;

// path
$images-path: "../images" !default;
$font-path: "../fonts/montserrat" !default;
$font-path-montserrat: "../fonts/montserrat" !default;
$font-path-proxima-nova: "../fonts/proxima-nova" !default;

// icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;


$icon-virtual-projects: "\e900";
$icon-virtual-team: "\e901";
$icon-online-unicourse: "\e902";
$icon-bag: "\e903";
$icon-universities: "\e904";
$icon-book: "\e905";
$icon-tick: "\e906";
$icon-facebook: "\e907";
$icon-twitter: "\e908";
$icon-linkedin: "\e909";
$icon-instagram: "\e90a";
$icon-vimeo: "\e90b";
$icon-hamburger-menu: "\e90c";
$icon-close: "\e90d";
$icon-quotes: "\e90e";
$icon-hackathon: "\e90f";
$icon-down-arrow: "\e910";
$icon-favourites: "\e911";
$icon-profile: "\e912";
$icon-alerts: "\e913";
$icon-messages: "\e914";
$icon-document: "\e915";
$icon-upload: "\e921";
$icon-play-path1: "\e917";
$icon-play-path2: "\e918";
$icon-back: "\e919";
$icon-error: "\e91a";
$icon-eye: "\e91b";
$icon-grid: "\e91c";
$icon-list: "\e91d";
$icon-search: "\e91e";
$icon-success: "\e91f";
$icon-tick-2: "\e920";
$icon-brief: "\e916";
$icon-calendar: "\e922";
$icon-clock: "\e923";
$icon-expenses: "\e926";
$icon-minus: "\e925";
$icon-money: "\e924";
$icon-plan: "\e927";
$icon-plus: "\e928";
$icon-timesheet: "\e929";
$icon-upload-2: "\e92a";
$icon-progress-75: "\e92b";
$icon-progress-100: "\e92c";
$icon-mail: "\e92d";
$icon-attachment: "\e92e";
$icon-download-1: "\e92f";
$icon-bullets: "\e930";
$icon-eye-2: "\e931";
$icon-link: "\e932";
$icon-media: "\e933";
$icon-numbers: "\e934";
$icon-print: "\e935";
$icon-reply: "\e936";
$icon-underlined: "\e937";
$icon-star-2: "\e938";
$icon-star-fill: "\e939";